{% extends "sbm_course/sbm_NMBU_2023_group4/layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_home">
  <div class="container">

    <div class="header_home">
      <div class="box"> 
        <h1 style="font-size:55px;"><span class="text-logo"> Welcome to The Carbon App</span></h1>
        <p style="text-align:left;">
          Carbon app for you who commute. This app is made for you who must travel every day to get where you need to be. Our mission is to help you measure your environmental impact. This app lets you find the route with the least environmental impact. 
          You can also build a network and find others who commute the same way as you. 
          Add them and schedule a carpool. 
                  </p>
                  <p> “TRAVEL TOGETHER AND POLLUTE LESS”</p>
      </div>
      <div class="box">
        <img 
          src="{{url_for('static', filename='sbm_course_NMBU_2023_group4/icons/carbon_app.svg')}}"
          width="325" 
          height="325"
          alt=""/>
      </div>
    </div>

  </div>
</section> 

<!-- Developers -->
<section class="section_developers">
  <div class="container">

    <div class="developers" style="display:block;">
      <h1 style="text-align:center;"> Our Team</h1>
      <p>
        We know what it is like to commute. Together we took the train every day to NMBU, a university outside of Oslo. We became friends on the train. 
      Hopefully, others can too.
              </p>      
    </div>

    <div class="developers">
        <div class="box">
          <img src="{{url_for('static', filename='sbm_course_NMBU_2023_group4/icons/Ida.jpeg')}}" alt="" style="border-radius: 50%; width:200px;">
          <h3>Ida</h3>
          <p>  <h1 style="text-align:center;">Sustainability Manager</h1>
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn</a>
          </div> 
        </div>
        <div class="box">
          <img src="{{url_for('static', filename='sbm_course_NMBU_2023_group4/icons/Espen.jpeg')}}" alt="" style="border-radius: 50%; width:200px;">
          <h3>Espen</h3>
          <p>  <h1 style="text-align:center;">Economic and business</h1>
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn</a>
          </div> 
        </div>           
        <div class="box">
          <img src="{{url_for('static', filename='sbm_course_NMBU_2023_group4/icons/Emma.jpeg')}}" alt="" style="border-radius: 50%; width:200px;">
          <h3>Emma</h3>
          <p>  <h1 style="text-align:center;">Content Creator Director</h1>

          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">LinkedIn</a>
          </div> 
        </div>     
    </div>

    <div class="developers">
      <div class="box2">
        <img src="{{url_for('static', filename='sbm_course_NMBU_2023_group4/icons/Maria.jpeg')}}" alt="" style="border-radius: 50%; width:200px;">
        <h3>Maria</h3>
        <p>  <h1 style="text-align:center;">Project Manager</h1>
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">LinkedIn</a>
        </div> 
      </div>
      <div class="box2">
        <img src="{{url_for('static', filename='sbm_course_NMBU_2023_group4/icons/Ane.jpeg')}}" alt="" style="border-radius: 50%; width:200px;">
        <h3>Ane</h3>
        <p>  <h1 style="text-align:center;">IT manager</h1>
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">LinkedIn</a>
        </div> 
      </div>           
      <div class="box2">

      </div>     
  </div>

  </div>          
</section>
        
{% endblock content %}