{% extends "gd_course/gd_course_layout.html" %}
{% block content %}

 

  <!-- Section chats HVL   -->
  <section class="section_chatsHVL" style="background-color: #9fa7bf;">
    <div class="container">

      <div class="column column1"> 

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>App group 1 (HVL):</strong></p> 
          <ul>
            <li>Mona Amundsen</li>
            <li>Line Vik	Birkelid</li>
            <li>Andrei-Mihai	Cosmin</li>
            <li>Lena	Engebretsen</li>
            <li>Haeun	Jang</li>
            <li>Haakon	Rekve</li>
            <li>Oda Kalve	Strand</li>
            <li>Keita	Ueda</li>
          </ul>           
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
                <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="{{ url_for('gd_course_app_calculator_HVL_2023_group1.app_calculator_entry') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>App group 2 (HVL):</strong></p> 
          <ul>
            <li>Tonje	Andersen</li>
            <li>Brock Daniel	Cunningham</li>
            <li>Augustin Sequoya	Hyde</li>
            <li>Klaudia Karina	Kulawik</li>
            <li>Andy Etsiako	Ntiamoah</li>
            <li>Alexander Theodor Strøno</li>
            <li>Augustina Maria-Ana	Vornehm</li>
            <li>Tore Bjelland	Østrått</li>
          </ul>           
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

      </div>
      

      <div class="column column2">

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>App group 3 (HVL):</strong></p> 
          <ul>
            <li>Eilie Jack	Afram</li>
            <li>Nathan Denis Colette</li>
            <li>Henrik Ansok	Høgås</li>
            <li>Feyme	Mestanli</li>
            <li>Simon Dreyer	Sindre</li>
            <li>Bendik Nordli	Syverud</li>
            <li>Julie	Vik</li>
            <li>Michelle	Yang</li>
          </ul>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>App group 4 (HVL):</strong></p> 
          <ul>
            <li>Rune Holt	Andreassen</li>
            <li>Sandra Therese	Birkedal</li>
            <li>Sander Lønne	Dyngeland</li>
            <li>Petter Gustaf	Jonstang</li>
            <li>Thea Ellendatter	Nordvold</li>
            <li>Jens Høyem	Stensen</li>
            <li>Tonje	Thrane</li>
            <li>Sondre Engelsen	Vrålid</li>
          </ul>          
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

      </div>

      <div class="column column3">
        
        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>App group 5 (HVL):</strong></p> 
          <ul>
            <li>Signy Rut	Astvaldsdottir</li>
            <li>Joachim	Duong</li>
            <li>Anne	Helmen</li>
            <li>Frida Lunde	Høisæther</li>
            <li>Lena	Maes</li>
            <li>Isa-Marie	Sommerseth</li>
            <li>Eyakem Tesfamariam	Tecle</li>
            <li>Magnus	Vevle</li>
          </ul>  
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>App group 6 (HVL):</strong></p> 
          <ul>
            <li>Stine	Berg</li>
            <li>Elias	Braut</li>
            <li>Eirik Borgersrud	Grønvold</li>
            <li>Elisa Norland	Høien</li>
            <li>Mina Sandbakk	Lunde</li>
            <li>Anders Fylling	Persson</li>
            <li>Peder Eugen	Porsvik</li>
            <li>Torill Thuestad	Stokka</li>
          </ul>      
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>
      </div>

      <!-- <div class="column column4">
        
        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 7 (HVL):</strong></p>   
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 8 (HVL):</strong></p>           
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

      </div> -->

    </div>
  </section>

  <!-- Section chats NHH   -->
  <section class="section_chatsNHH" style="background-color: #c5c8d9;">
    <div class="container">

      <div class="column column1"> 

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>App group 1 (NHH):</strong></p> 
          <ul>
            <li>Martin Jåvold Akselsen</li>
            <li>Christian Bøe Eriksen</li>
            <li>Jon Kristoffer Solvang Kringeland</li>
            <li>Richard Emil Myrdal</li>
            <li>Sara Helen Birkeland Skjerping</li>
            <li>Carl-Oscar Bergfjord Stoll</li>
            <li>Vilde Marie Zeiner</li>
          </ul>          
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>App group 2 (NHH):</strong></p> 
          <ul>
            <li>Frede Andersen</li>
            <li>Elias Kvalsvik Haugen</li>
            <li>Elias Limayem</li>
            <li>Ida Prestnes</li>
            <li>Kåre Habbestad Skimmeland</li>
            <li>Marte Søvre</li>
            <li>Julian Liam Wolter</li>
          </ul>          
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

      </div>
      

      <div class="column column2">

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>App group 3 (NHH):</strong></p> 
          <ul>
            <li>Sofie Klever Årdal</li>
            <li>Mathias Haughom</li>
            <li>Franziska Roszinski</li>
            <li>Joachim Nygaard-Nilssen</li>
            <li>Trisha Shenoy</li>
            <li>Elise Isolde Stenevik</li>
            <li>Serenne Vikebø</li>
          </ul>        
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>App group 4 (NHH):</strong></p> 
          <ul>
            <li>Emilie Bredenbekk</li>
            <li>Alise Haukenes</li>
            <li>Nikolai Jensen</li>
            <li>William Ebert Nedal</li>
            <li>Mads Bogen Øye</li>
            <li>Eirik Berg Slinde</li>
            <li>Magnus Njølstad Vonen</li>
          </ul>       
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

      </div>

      <div class="column column3">
        
        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>App group 5 (NHH):</strong></p> 
          <ul>
            <li>Øystein Breivik</li>
            <li>Anders Hordvei Fossli</li>
            <li>Sarib Ali Iqbal</li>
            <li>Hanne Abrahamsen Jensen</li>
            <li>Ole Henrik Birkeland Øgaard</li>
            <li>Kaia Baumann Semb</li>
            <li>Jonas Harald Stockkamp</li>
          </ul>          
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>App group 6 (NHH):</strong></p> 
          <ul>
            <li>Ole Eiane</li>
            <li>Serina Haukefær Grøttå</li>
            <li>Magnus Haaland</li>
            <li>Kristian André Knarvik</li>
            <li>Eilef Johansen Meyer</li>
            <li>Herman Østensen</li>
            <li>André Hansen Skarholm</li>
          </ul>          
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>
      </div>

      <!-- <div class="column column4">
        
        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 7 (NHH):</strong></p>           
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 8 (NHH):</strong></p>      
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

      </div> -->

    </div>
  </section>


{% endblock content %}
