{% extends "gd_course/gd_course_layout.html" %}
{% block content %}

 

  <!-- Section chats HVL   -->
  <section class="section_chatsHVL" style="background-color: #9fa7bf;">
    <div class="container">

      <div class="column column1"> 

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 1 (HVL):</strong></p>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
                <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="{{ url_for('gd_course_app_calculator_HVL_2023_student1.app_calculator_entry') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 2 (HVL):</strong></p>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

      </div>
      

      <div class="column column2">

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 3 (HVL):</strong></p>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 4 (HVL):</strong></p>          
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

      </div>

      <div class="column column3">
        
        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 5 (HVL):</strong></p> 
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 6 (HVL):</strong></p>       
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>
      </div>

      <div class="column column4">
        
        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 7 (HVL):</strong></p>   
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 8 (HVL):</strong></p>           
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

      </div>

    </div>
  </section>

  <!-- Section chats NHH   -->
  <section class="section_chatsNHH" style="background-color: #c5c8d9;">
    <div class="container">

      <div class="column column1"> 

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 1 (NHH):</strong></p>           
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 2 (NHH):</strong></p>           
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

      </div>
      

      <div class="column column2">

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 3 (NHH):</strong></p>        
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 4 (NHH):</strong></p>        
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

      </div>

      <div class="column column3">
        
        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 5 (NHH):</strong></p>           
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 6 (NHH):</strong></p>          
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>
      </div>

      <div class="column column4">
        
        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 7 (NHH):</strong></p>           
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-lightbulb"></i>
          </div>
          <p style="text-align: center;"><strong>Student 8 (NHH):</strong></p>      
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div>
            <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">App</a>
            </div>
          </div>              
        </div>

      </div>

    </div>
  </section>


{% endblock content %}