{% extends "gd_course/gd_course_layout.html" %} {% block content %}

<!-- Section chats HVL   -->
<section class="section_chatsHVL" style="background-color: #9fa7bf">
  <div class="container">
    <div class="column column1">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 1 (HVL-2024):</strong>
        </p>
        <ul>
          <li>Ola Børve</li>
          <li>Tobias Ytterdahl Bergland</li>
          <li>Edvard Nordstrand Tødenes</li>
          <li>Tomas Daniel Chernov</li>
          <li>Erik Berentsen</li>
          <li>Martin Bendiksen Trengereid</li>
          <li>Benjamin Lien-Larsen</li>
          <br />
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2024_group1.carbon_app_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>

    <div class="column column2">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 2 (HVL-2024):</strong>
        </p>
        <ul>
          <li>Cecilie Bjørnestad Hamre</li>
          <li>Hedda Gjerde</li>
          <li>Hannah Drivenes</li>
          <li>Thea Shan Hesthamar Raunsgard</li>
          <li>Eirik Sundsøy</li>
          <li>Ninni Eide Weisser</li>
          <li>Oskar Tinius Birkeland</li>
          <li>Filip Framstad</li>
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <div class="btn">
            <a
              href="#"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>
  </div>

  <div class="container">
    <div class="column column3">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 3 (HVL-2024):</strong>
        </p>
        <ul>
          <li>Olav Ljones</li>
          <li>Mathias Martinsen</li>
          <li>Jesper Aas Gonstad</li>
          <li>Alexander Fosse</li>
          <li>Casper Berle Linnestad</li>
          <li>Matias von Haffenbrädl</li>
          <li>Elias Slettebak Urke</li>
          <li>Nikodem Artur Wiktorowicz</li>
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2024_group3.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>

    <div class="column column3">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 4 (HVL-2024):</strong>
        </p>
        <ul>
          <li>Jean Christophe W d'Huart</li>
          <li>Linda Cornelia Antonetta</li>
          <li>Robin Grégoire</li>
          <li>Olaf Boćko</li>
          <br />
          <br />
          <br />
          <br />
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2023_group3.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>
  </div>

  <div class="container">
    <div class="column column3">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 5 (HVL-2024):</strong>
        </p>
        <ul>
          <li>Antoine Alain Dominique</li>
          <li>Maria del Mar López Urquiola</li>
          <li>Marine Madeleine Martine Croze</li>
          <li>Sacha René W Van Cauwenbergh</li>
          <li>Sara Rorato</li>
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2023_group3.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>

    <div class="column column3">
      <div class="column column1 box" style="background-color: #9fa7bf"></div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>
  </div>

  <div class="container">
    <div class="column column1">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 1 (HVL-2023):</strong>
        </p>
        <ul>
          <li>Tonje Andersen</li>
          <li>Mona Amundsen</li>
          <li>Signy Astvaldsdottir</li>
          <li>Line Birkelid</li>
          <li>Andrei Cosmin</li>
          <li>Haeun Jang</li>
          <li>Andy Ntiamoah</li>
          <li>Oda Kalve Strand</li>
          <li>Alexander Strøno</li>
          <li>Augustina Vornehm</li>
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <!-- <div class="btn">
                <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div> -->
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2023_group1.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>

    <div class="column column2">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 2 (HVL-2023):</strong>
        </p>
        <ul>
          <li>Brock Daniel Cunningham</li>
          <li>Augustin Hyde</li>
          <li>Mina Sandbakk Lunde</li>
          <li>Lena Maes</li>
          <li>Peder Porsvik</li>
          <li>Keita Ueda</li>
          <li>Magnus Vevle</li>
          <br />
          <br />
          <br />
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <!-- <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div> -->
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2023_group2.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>
  </div>

  <div class="container">
    <div class="column column2">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 2 (HVL-2023):</strong>
        </p>
        <ul>
          <li>Eilie Jack Afram</li>
          <li>Runne Holt Andreassen</li>
          <li>Sandra Therese Birkeland</li>
          <li>Nathan Colette</li>
          <li>Sander Lønne Dyngeland</li>
          <li>Sondre Engelsen Vrålid</li>
        </ul>
        <div class="container_buttons_links_chatsHVL">
          <!-- <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div> -->
          <div class="btn">
            <a
              href="{{ url_for('gd_course_HVL_2023_group2.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>

    <div class="column column3">
      <div class="column column1 box" style="background-color: #9fa7bf"></div>

      <div class="column column1 box" style="background-color: #9fa7bf"></div>
    </div>
  </div>
</section>

<!-- Section chats NHH   -->
<section class="section_chatsNHH" style="background-color: #c5c8d9">
  <!-- NHH 2024 -->
  <div class="container">
    <div class="column column1">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 1 (NHH-2024):</strong>
        </p>
        <ul>
          <li>Bjørnar Berge</li>
          <li>Daniel Hu Øren</li>
          <li>Herman Wilter</li>
          <li>Adoncia Tan</li>
          <li>Andreas Caniaris</li>
          <li>Jasmine Athea Næss</li>
          <li>Klara Evelina Palklint</li>
          <li>Britney Charles</li>
        </ul>
        <div class="container_buttons_links_chatsNHH">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_NHH_2024_group1.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #c5c8d9"></div>
    </div>

    <div class="column column2">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 2 (NHH-2024):</strong>
        </p>
        <ul>
          <li>Julen Gago Ruiz</li>
          <li>Emelie Nyström</li>
          <li>Elsa Brunet</li>
          <li>Fredrik Sælemyr</li>
          <li>Alexander Fardal Kjellevold</li>
          <li>Thomas André Vindenes</li>
          <li>Sondre Bøygard</li>
          <br />
        </ul>
        <div class="container_buttons_links_chatsNHH">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_NHH_2024_group2.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #c5c8d9"></div>
    </div>
  </div>

  <div class="container">
    <div class="column column2">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 3 (NHH-2024):</strong>
        </p>
        <ul>
          <li>Borghild Baricuatro Nicolaysen</li>
          <li>Diego Zumárraga Aldama</li>
          <li>Nozomi Gomi</li>
          <li>Fiona Alyssa Müller</li>
          <li>Oscar Jacobsen Karlsen</li>
          <li>Eric Andrew Klassen</li>
          <li>Mirei Okabayashi</li>
        </ul>
        <div class="container_buttons_links_chatsNHH">
          <div class="btn">
            <a
              href="#"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #c5c8d9"></div>
    </div>

    <div class="column column3">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 4 (NHH-2024):</strong>
        </p>
        <ul>
          <li>Per Olav Hagen Hallingstad</li>
          <li>Auriane Chevalier</li>
          <li>Flavian Anton</li>
          <li>Hasan Askri</li>
          <li>Grégoire Morneau</li>
          <li>Yuliia Homon</li>
          <li>Chitose Kanno</li>
        </ul>
        <div class="container_buttons_links_chatsNHH">
          <div class="btn">
            <a
              href="#"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #c5c8d9"></div>
    </div>
  </div>

  <!-- NHH 2023 -->
  <div class="container">
    <div class="column column1">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 1 (NHH-2023):</strong>
        </p>
        <ul>
          <li>Sara Helen Birkeland</li>
          <li>Christian Bøe Eriksen</li>
          <li>Richard Emil Myrdal</li>
          <li>Per Ole Lande</li>
          <li>Jon Kristoffer Solvang Kringeland</li>
          <br />
          <br />
        </ul>
        <div class="container_buttons_links_chatsNHH">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_NHH_2023_group1.home_home') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #c5c8d9"></div>
    </div>

    <div class="column column2">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 2 (NHH-2023):</strong>
        </p>
        <ul>
          <li>Aksel Bjørhovde</li>
          <li>Mathias Haughom</li>
          <li>Franziska Roszinski</li>
          <li>André Hansen Skarholm</li>
          <li>Elise Isolde Stenevik</li>
          <li>Serenne Vikebø</li>
          <br />
        </ul>
        <div class="container_buttons_links_chatsNHH">
          <!-- <div class="btn">
              <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">GitHub</a>
            </div> -->
          <div class="btn">
            <a
              href="{{ url_for('gd_course_NHH_2023_group2.home_func') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #c5c8d9"></div>
    </div>
  </div>

  <div class="container">
    <div class="column column2">
      <div class="column column1 box">
        <div class="h1 mb-3" style="text-align: center">
          <i class="bi bi-lightbulb"></i>
        </div>
        <p style="text-align: center">
          <strong>App group 3 (NHH-2023):</strong>
        </p>
        <ul>
          <li>Hanne Abrahamsen Jensen</li>
          <li>Øystein Breivik</li>
          <li>Ole Eiane</li>
          <li>Jonas Harald Stockkamp</li>
          <li>Elias Limayem</li>
          <li>Martin Jåvold Akselsen</li>
        </ul>
        <div class="container_buttons_links_chatsNHH">
          <div class="btn">
            <a
              href="{{ url_for('gd_course_NHH_2023_group2.home_func') }}"
              target="_blank"
              class="btn btn-primary btn-sm mr-2"
              ,
              style="background-color: #007bff"
              >App</a
            >
          </div>
        </div>
      </div>

      <div class="column column1 box" style="background-color: #c5c8d9"></div>
    </div>

    <div class="column column3">
      <div class="column column1 box" style="background-color: #c5c8d9"></div>
    </div>
  </div>
</section>

{% endblock content %}
