

/* Google fonts Inter  */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CSS utilities */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  line-height: 1.6;
}
.container {
  margin: auto;
  max-width: auto;
}
ul { 
  list-style: none;
  font-size: 400;
}
a {
  color: #fff;
  text-decoration: none;
}
h1, h2 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  margin: 10px 0;
  font-size: 14px;
}
img {
  width: 100%;
}
/* Navbar  */

.section_carbon_app_navbar {
  height: auto;
  width: auto;
  background-color: #171f20;
  
}

.text-logo {
  font-size: 18px;
  justify-content: center;
  font-weight: 600;
}

.carbon_app_navbar1 a {
  color: #fff;
  margin: 0 0px;
  font-size: 16px;
  text-decoration: none;
}

.carbon_app_navbar1 a:hover{
  color: lightgray;
  border-bottom: none;
}


.carbon_app_navbar1 .carbon_app_navbar_ul1 {
  flex: 1;
  align-items: center;
  margin-left: 40px;
  display: flex;
  font-weight: 300;
}

    .carbon_app_navbar_ul1 ul li {
       margin-right: 30px; /* Add margin between list items */
      }

    .carbon_app_navbar_ul1 ul li:last-child {
      margin-right: 0; /* Remove margin from the last list item */
    }

.nav-right .btn-nav1,
.nav-right .demo_box {
    margin-right: 20px; 
}

.nav-right .demo_box {
    margin-right: 0; 
}


.btn_nav1 {
  display: flex;
  align-items: right;
  justify-content: right;
}

.demo_box {
  height: 40px;
  width: 105px;
  background-color: rgb(214, 61, 61);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Footer  */
.section_footer{
  background-color:#171f20;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
  align-items: center;
  background-color: #171f20;
  padding: 0 0px;
  color: white;
}



/* Media query */
@media(max-width:768px){
  .carbon_app_navbar {
    height: 180px;
    flex-direction: column;
  }
  .carbon_app_navbar a {
    font-size: 15px;
    padding: 5px 20px;
  }
  .carbon_app_navbar ul {
    display: flex;
    flex-direction: column;
  }
  .carbon_app_navbar a:hover{
    color: #568c63;
    border-bottom: #2a4359 2px solid;
  }
}