{% extends "gd_course/gd_course_layout.html" %}
{% block content %}



    <!-- Section chapters   -->
    <section class="section_statistics" style="background-color: #9fa7bf;">
      <div class="container">

        <div class="column column1">          
          <div class="column column1 box">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="bi bi-graph-up"></i>
            </div>
            <p><strong>Ch1:</strong> Your statistics. </p> 
            
            <div class="container_buttons_links_chapters">
              <div class="btn">
                  <a href="{{ url_for('gd_course_statistics.statistics_ch1') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Chapter 1</a>
              </div>
            </div>              
          </div>

          <div class="column column1 box">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="bi bi-graph-up"></i>
            </div>
            <p><strong>Ch2:</strong> Your statistics.</p>

            <div class="container_buttons_links_chapters">
              <div class="btn">
                  <a href="{{ url_for('gd_course_statistics.statistics_ch2') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Chapter 2</a>
              </div>
            </div> 
          </div>           

          <div class="column column1 box">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="bi bi-graph-up"></i>
            </div>
            <p><strong>Ch3:</strong> Your statistics. </p>
  
            <div class="container_buttons_links_chapters">
              <div class="btn">
                  <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Chapter 3</a>
              </div>
            </div> 
          </div> 
        </div>
        

        <div class="column column2">
          <div class="column column2 box">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="bi bi-graph-up"></i>
            </div>
            <p><strong>Ch4:</strong> Your statistics.</p>

            <div class="container_buttons_links_chapters">
              <div class="btn">
                  <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Chapter 4</a>
              </div>
            </div> 
          </div>

          <div class="column column2 box">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="bi bi-graph-up"></i>
            </div>
            <p><strong>Ch5:</strong> Your statistics.</p>

            <div class="container_buttons_links_chapters">
              <div class="btn">
                  <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Chapter 5</a>
              </div>
            </div>  
          </div>

          <div class="column column2 box">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="bi bi-graph-up"></i>
            </div>
            <p><strong>Ch6:</strong> Your statistics.</p>

            <div class="container_buttons_links_chapters">
              <div class="btn">
                  <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Chapter 6</a>
              </div>
            </div>  
          </div>
        </div>

        <div class="column column3">
          <div class="column column3 box">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="bi bi-graph-up"></i>
            </div>
            <p><strong>Ch7:</strong> Your statistics.</p>

            <div class="container_buttons_links_chapters">
              <div class="btn">
                  <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Chapter 7</a>
              </div>
            </div>  

          </div>
          <div class="column column3 box">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="bi bi-graph-up"></i>
            </div>
            <p><strong>Ch8:</strong> Your statistics.</p>
            <div class="container_buttons_links_chapters">
              <div class="btn">
                  <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Chapter 8</a>
              </div>
            </div>  
          </div>

          <div class="column column3 box">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="bi bi-graph-up"></i>
            </div>
            <p><strong>Ch9:</strong> Your statistics.</p>
            <div class="container_buttons_links_chapters">
              <div class="btn">
                  <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Chapter 9</a>
              </div>
            </div>  
          </div>
        </div>

        <div class="column column4">
          <div class="column column4 box" style="background: #6da6a6;">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="bi bi-graph-up"></i>
            </div>
            <p><strong>Ch10:</strong> Your statistics. </p>

            <div class="container_buttons_links_chapters">
              <div class="btn">
                  <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Chapter 10</a>
              </div>
            </div>  

          </div>
          <div class="column column4 box" style="background: #6da6a6;">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="bi bi-graph-up"></i>
            </div>
            <p><strong>Ch11:</strong> Your statistics.</p>
            <div class="container_buttons_links_chapters">
              <div class="btn">
                  <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Chapter 11</a>
              </div>
            </div>  
          </div>
          <div class="column column4 box" style="background: #6da6a6;">
            <div class="h1 mb-3" style="text-align: center;">
              <i class="bi bi-graph-up"></i>
            </div>
            <p><strong>Ch12:</strong> Your statistics.</p>
            <div class="container_buttons_links_chapters">
              <div class="btn">
                  <a href="#" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Chapter 12</a>
              </div>
            </div>  
          </div>

        </div>

      </div>
    </section>


{% endblock content %}
