.animated-dot {
    position: absolute;
    background: #ffa500; /* Orange color */
    opacity: 0.07;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    animation: pulse 0.5s cubic-bezier(0.51, 0, 0.4, 0.5) alternate infinite;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: none; /* Make the dot non-clickable */
  }
  
  @keyframes pulse {
    from {
      width: 50px;
      height: 50px;
    }
    to {
      width: 60px;
      height: 60px;
    }
  }
  
  .animated-dot.active {
    animation: bounce 0.5s ease;
  }
  
  @keyframes bounce {
    100% {
      transform: translate(-50%, -50%) scale(2);
      opacity: 0;
    }
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
  