 /*footer;*/
 .footer {
  background: #f2c299;
  color: #fff;
  height: 100px;
}

.footer .container {
  display: flex; 
  align-items: center;
  justify-content: center; 
  height: 100%;
}

.footer .container .item{ 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}