{% extends "gd_course/HVL_2024_group2/layout.html" %} {% block content %}

<section class="section_developers">
  <div class="container">
    <span class="about-headline">Meet our Team</span>
    <div class="developers">
      <p>
        The committed team responsible for developing the carbon app and
        formulating its methodology consists of individuals who have completed
        the course entitled "Green Digitalization and App Development." Learn
        more about the team members below.
      </p>
    </div>

    <div class="developers">
      <div class="box">
        <img
          src="{{url_for('static',filename='/gd_course_HVL_2024_group2/pictures/Fillip.jpg')}}"
          alt=""
          style="border-radius: 50%; width: 150px; margin: 5px 5px"
        />
        <h3>Filip Framstad</h3>
        <p4>
          I'm Filip Framstad, a 20-year-old from Ålesund. Currently pursuing a
          one-year program in "Digital Økonomi og Ledelse," while also balancing
          part-time work at Sparebanken Sogn og Fjordane. Beyond academics and
          work, I devote my spare time to fitness, engaging in daily running and
          weightlifting routines.
        </p4>
        <div class="section_container_buttons_developers">
          <a
            class="btn_developers"
            href="https://www.linkedin.com/in/filip-framstad-90b97420b/"
            target="_blank"
            >LinkedIn</a
          >
        </div>
      </div>
      <div class="box">
        <img
          src="{{url_for('static',filename='/gd_course_HVL_2024_group2/pictures/Oscar1.jpg')}}"
          alt=""
          style="border-radius: 50%; width: 150px; margin: 5px 5px"
        />
        <h3>Oscar Birkeland</h3>
        <p4>
          I'm Oscar Birkeland, a 19-year-old from Osterøy. Currently enrolled in
          a one-year program in "Digital Økonomi og Ledelse," while also
          juggling part-time responsibilities at Rema 1000 Øyrane Torg. Beyond
          my academic and professional pursuits, I dedicate my spare moments to
          fitness, engaging in daily walks and weightlifting sessions.
        </p4>
        <div class="section_container_buttons_developers">
          <a
            class="btn_developers"
            href="https://www.linkedin.com/in/oscar-tinius-birkeland-7479852b5/"
            target="_blank"
            >LinkedIn</a
          >
        </div>
      </div>

      <div class="box">
        <img
          src="{{url_for('static',filename='/gd_course_HVL_2024_group2/pictures/Thea1.jpg')}}"
          alt=""
          style="border-radius: 50%; width: 150px; margin: 5px 5px"
        />
        <h3>Thea Raunsgard</h3>
        <p4>
          I'm Thea Raunsgard, a 22-year-old from Kinsarvik, currently enrolled
          in a one-year program focused on "Digital Økonomi og Ledelse." Before
          this, I pursued studies in International Management and Business at
          BI. Concurrently, I work part-time at OneSubsea as an HR intern. In my
          leisure time, I find joy in skiing, hiking, and exploring new
          destinations.
        </p4>
        <div class="section_container_buttons_developers">
          <a
            class="btn_developers"
            href="https://www.linkedin.com/in/thea-raunsgard/"
            target="_blank"
            >LinkedIn</a
          >
        </div>
      </div>

      <div class="box">
        <img
          src="{{url_for('static',filename='/gd_course_HVL_2024_group2/pictures/Hannah1.jpg')}}"
          alt=""
          style="border-radius: 50%; width: 150px; margin: 5px 5px"
        />
        <h3>Hannah Drivenes</h3>
        <p4>
          I am 23 years old and born and raised in Bergen. Growing up here I
          developed a big love for the outdoors and I therefore like hiking in
          the mountains. I also appreciate my friends, and hanging out with them
          in my spare time. Other than that i love learing new things,
          especially about other cultures and languages.
        </p4>
        <div class="section_container_buttons_developers">
          <a
            class="btn_developers"
            href="https://www.linkedin.com/in/hannah-drivenes/"
            target="_blank"
            >LinkedIn</a
          >
        </div>
      </div>
    </div>

    <div class="developers">
      <div class="box2">
        <img
          src="{{url_for('static',filename='/gd_course_HVL_2024_group2/pictures/Ninni1.jpg')}}"
          alt=""
          style="border-radius: 50%; width: 150px; margin: 5px 5px"
        />
        <h3>Ninni Eide</h3>
        <p4>
          Im Ninni, I am 24 years old from Oslo. I moved to Bergen in 2019 to
          start studying at UiB before I started at HVL. I am on the last
          semester of my bachelors degree in “Øko-admn”. Living in Bergen for
          the last 5 years has been nice with so many hiking destinations right
          outside the door. On my spare time I play volleyball and I am a
          volleyball-coach for the mens team.
        </p4>
        <div class="section_container_buttons_developers">
          <a
            class="btn_developers"
            href="https://www.linkedin.com/in/ninniweissereide/"
            target="_blank"
            >LinkedIn</a
          >
        </div>
      </div>

      <div class="box2">
        <img
          src="{{url_for('static',filename='/gd_course_HVL_2024_group2/pictures/Cecilie1.jpg')}}"
          alt=""
          style="border-radius: 50%; width: 150px; margin: 5px 5px"
        />
        <h3>Cecilie Bjørnestad Hamre</h3>
        <p4
          >I'm Cecilie, 22, from Bergen. Currently studying "Digital Economics
          and Management" at HVL while working part-time at Rema 1000. In my
          free time, I enjoy exercising and exploring Bergen's nature. Despite
          my background in physiotherapy, I've developed a strong interest in
          numbers and economics. I believe my analytical skills from
          physiotherapy are transferable to economics, and I'm excited to
          explore how technology intersects with economic concepts in the
          digital age. My goal is to contribute positively to society,
          leveraging my diverse background to bridge the gap between healthcare
          and economics
        </p4>
        <div class="section_container_buttons_developers">
          <a
            class="btn_developers"
            href="https://www.linkedin.com/in/cecilie-hamre-003a882b8/"
            target="_blank"
            >LinkedIn</a
          >
        </div>
      </div>

      <div class="box2">
        <img
          src="{{url_for('static',filename='/gd_course_HVL_2024_group2/pictures/Eirik1.jpg')}}"
          alt=""
          style="border-radius: 50%; width: 150px; margin: 5px 5px"
        />
        <h3>Eirik Sundsøy</h3>
        <p4>
          I'm Eirik Sundsøy, a 23-year-old student at Western University of
          Applied Sciences, where I'm pursuing studies in programming, finance,
          and change management. Originally from Sogndal, I hold a bachelor's
          degree in Business Administration. Outside of academics, I find joy in
          activities such as running, hitting the gym, and exploring new
          destinations through travel.
        </p4>
        <div class="section_container_buttons_developers">
          <a
            class="btn_developers"
            href="https://www.linkedin.com/in/eiriksundsoey/"
            target="_blank"
            >LinkedIn</a
          >
        </div>
      </div>

      <div class="box2">
        <img
          src="{{url_for('static',filename='/gd_course_HVL_2024_group2/pictures/Hedda1.jpg')}}"
          alt=""
          style="border-radius: 50%; width: 150px; margin: 5px 5px"
        />
        <h3>Hedda Gjerde</h3>
        <p4>
          I'm Hedda Gjerde, a 21-year-old hailing from the quaint town of
          Vikedal. Volleyball has long been a cornerstone of my life, and I'm
          dedicated to nurturing my passion for the sport here in Bergen.
          Currently in my final year of Bachelor studies in Economics and
          Administration at HVL, I cherish leisure moments spent with friends
          and find solace in the tranquility of hiking.
        </p4>
        <div class="section_container_buttons_developers">
          <a
            class="btn_developers"
            href="https://www.linkedin.com/in/heddagjerde/"
            target="_blank"
            >LinkedIn</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
