/* Colors 
Methodology, section 1 (header, background): #2a4359
Methodology, section 1 (header, boxes): #6da6a6
Methodology, section 2 (methodology, background): #466fa6
Methodology, section 2 (methodology, boxes): #8badd9
*/

/* Utilities  */
p {
  margin: 10px 0;
  font-size: 18px;
}
h4 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
ol {
  font-size: 18px;
}
h3 {
  font-size: 24;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Section header */
.section_header_methodology {
  background-color: #9fa7bf;
}
.header {
  display: flex;
  align-items: start;
  background: #fff;
}
.header .box {
  flex: 1;
  background: #05430b;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.header .box:nth-of-type(1) {
  flex-grow: 2;
}
.header .box:nth-of-type(2) {
  flex-grow: 1;
}
.container_buttons_links_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_buttons_links_header a:hover {
  color: #05430b;
}
.container_buttons_links_header btn {
  width: 100px;
  height: 100px;
  background: #05430b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-transportation-image-banner {
  background-image: url('/static/gd_course_NHH_2024_group3/highway_imge.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh; /* Full height */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

/* New CSS */
.methodology-section {
  background-color: #2a4359;
  color: white;
  padding: 2rem 0;
  text-align: center;
}

.methodology-section h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.methodology-section p {
  font-size: 1em;
  line-height: 1.6;
}

.transport-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin-bottom: 50px;
}

.transport-card-electric {
  background-color: #eef34f;
  border-radius: 10px;
  padding: 1em;
  width: 200px;
  transition: transform 0.3s ease;
}

.transport-card-electric:hover {
  transform: scale(1.05);
}

.transport-card-electric i {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #000000;
}

.transport-card-electric h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #000000;
}

.transport-card-electric p {
  font-size: 1em;
  color: #414141;
}

.transport-card-fossil {
  background-color: #292244;
  border-radius: 10px;
  padding: 1em;
  width: 200px;
  transition: transform 0.3s ease;
}

.transport-card-fossil:hover {
  transform: scale(1.05);
}

.transport-card-fossil i {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #ffffff;
}

.transport-card-fossil h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #ffffff;
}

.transport-card-fossil p {
  font-size: 1em;
  color: #cbcbcb;
}

.transport-card-plane {
  background-color: #74fffd;
  border-radius: 10px;
  padding: 1em;
  width: 200px;
  transition: transform 0.3s ease;
}

.transport-card-plane:hover {
  transform: scale(1.05);
}

.transport-card-plane i {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #000000;
}

.transport-card-plane h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #000000;
}

.transport-card-plane p {
  font-size: 1em;
  color: #414141;
}

.transport-card-ferry {
  background-color: #0036c0;
  border-radius: 10px;
  padding: 1em;
  width: 200px;
  transition: transform 0.3s ease;
}

.transport-card-ferry:hover {
  transform: scale(1.05);
}

.transport-card-ferry i {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #ffffff;
}

.transport-card-ferry h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #ffffff;
}

.transport-card-ferry p {
  font-size: 1em;
  color: #cbcbcb;
}

.transport-card-walk {
  background-color: #14da27;
  border-radius: 10px;
  padding: 1em;
  width: 200px;
  transition: transform 0.3s ease;
}

.transport-card-walk:hover {
  transform: scale(1.05);
}

.transport-card-walk i {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #000000;
}

.transport-card-walk h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #000000;
}

.transport-card-walk p {
  font-size: 1em;
  color: #414141;
}
