{% extends "se_course/layout.html" %}
{% block content %}
{% if current_user.email=='mblazquezdepaz@yahoo.es' %}
    <section id="introduction" class="bg-white p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="select_statistics_css">
                <h3 style="justify-content:center;">Statistics</h3>
                <p>Select the exercise to visualize your statistics:
                </p>
                <div class="container_buttons_statistics_css">
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch1') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch1</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch2') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch2</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch3') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch3</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch4') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch4</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch5') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch5</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch6') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch6</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch7') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch7</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch8') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch8</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch9') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch9</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch10') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch10</a>
                    </div>
                </div>
            </div>
        </div>

       

    </section>

{% else %}
    <section id="introduction" class="bg-white p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="select_statistics_css">
                <h3 style="justify-content:center;">Statistics</h3>
                <p>Select the exercise to visualize your statistics:
                </p>
                <div class="container_buttons_statistics_css">
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch1') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch1</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch2') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch2</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch3') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch3</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch4') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch4</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch5') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch5</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch6') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch6</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch7') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch7</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch8') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch8</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch9') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch9</a>
                    </div>
                    <div class="btn">
                         <a href="{{ url_for('se_course_statistics.statistics_se_ch10') }}" class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;">SE, Ch10</a>
                    </div>
                </div>
            </div>
        </div>

        
    </section>


    
{% endif %}


{% endblock content %}