{% extends "gd_course/gd_course_layout.html" %}
{% block content %}

  <!-- Introduction -->
  <section class="main_chat">
    <div class="container">
        <div class="box">

        </div>
        <div class="box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat (main chat):</strong> </p>
          <p style="text-align: left;">We use this chat to solve questions related to programming, to deploy the app, to install packages, to design the app, methodology, <strong>i.e., any question about the topics covered in the chapters of the course</strong>. The chat is open to all the participants in the course. We use the chat in a regular basis to exchange information about the “weekly challenge,” and any doubts about the material covered in the lectures. I <strong>encourage all the groups (students)</strong> to participate actively in the chat and to help each other. I will participate actively in the chat trying to make the course more useful for the students.</p>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_main_chat') }}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Create chat (main chat)</a>
            </div>
          </div>        
        </div>
        <div class="box">

        </div>
    </div>
  </section>  

  <!-- Section chats HVL   -->
  <section class="section_chatsHVL" style="background-color: #9fa7bf;">
    <div class="container">

      <div class="column column1"> 

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 1 (HVL):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_HVL_g1_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 1 (HVL)</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 2 (HVL):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_HVL_g2_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 2 (HVL)</a>
            </div>
          </div>              
        </div>

      </div>
      

      <div class="column column2">

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 3 (HVL):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_HVL_g3_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 3 (HVL)</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 4 (HVL):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_HVL_g4_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 4 (HVL)</a>
            </div>
          </div>              
        </div>

      </div>

      <div class="column column3">
        
        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 5 (HVL):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_HVL_g5_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 5 (HVL)</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 6 (HVL):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_HVL_g6_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 6 (HVL)</a>
            </div>
          </div>              
        </div>
      </div>

      <div class="column column4">
        
        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 7 (HVL):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_HVL_g7_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 7 (HVL)</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 8 (HVL):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsHVL">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_HVL_g8_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 8 (HVL)</a>
            </div>
          </div>              
        </div>

      </div>

    </div>
  </section>

  <!-- Section chats NHH   -->
  <section class="section_chatsNHH" style="background-color: #c5c8d9;">
    <div class="container">

      <div class="column column1"> 

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 1 (NHH):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_NHH_g1_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 1 (NHH)</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 2 (NHH):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_NHH_g2_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 2 (NHH)</a>
            </div>
          </div>              
        </div>

      </div>
      

      <div class="column column2">

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 3 (NHH):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_NHH_g3_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 3 (NHH)</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 4 (NHH):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_NHH_g4_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 4 (NHH)</a>
            </div>
          </div>              
        </div>

      </div>

      <div class="column column3">
        
        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 5 (NHH):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_NHH_g5_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 5 (NHH)</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 6 (NHH):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_NHH_g6_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 6 (NHH)</a>
            </div>
          </div>              
        </div>
      </div>

      <div class="column column4">
        
        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 7 (NHH):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_NHH_g7_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 7 (NHH)</a>
            </div>
          </div>              
        </div>

        <div class="column column1 box">
          <div class="h1 mb-3" style="text-align: center;">
            <i class="bi bi-chat-square-dots"></i>
          </div>
          <p style="text-align: center;"><strong>Create chat group 8 (NHH):</strong></p> 
          <ul>
            <li>Student 1</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
          </ul>            
          <div class="container_buttons_links_chatsNHH">
            <div class="btn">
                <a href="{{ url_for('gd_course_chats.gd_course_chats_new_NHH_g8_chat') }}" class="btn btn-primary btn-sm mr-2", style="background-color:#007bff;">Create chat group 8 (NHH)</a>
            </div>
          </div>              
        </div>

      </div>

    </div>
  </section>


{% endblock content %}