{% extends "gd_course/HVL_2024_group4/layout.html" %} {% block content %}

<section id="register" data-aos="fade-up" data-aos-duration="1000">
  <img
    class="bg-img"
    src="{{ url_for('static', filename='/gd_course_HVL_2024_group4/assets/env-img.jpg') }}"
    alt="nature image"
    data-aos="fade-left"
    data-aos-duration="1000"
  />
  <div class="container">
    <form method="POST" action="">
      <div class="subtitle">Register</div>
      <span>Start your <strong>Green</strong> journey !</span>
      {{ form.hidden_tag() }}
      <div class="label-container">
        <div class="label">
          {{ form.username.label(class="form-control-label") }} {% if
          form.username.errors %} {{ form.username(class="form-control
          form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.username(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="label">
          {{ form.email.label(class="form-control-label") }} {% if
          form.email.errors %} {{ form.email(class="form-control form-control-lg
          is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.email(class="form-control form-control-lg") }} {%
          endif %}
        </div>
      </div>
      <div class="label">
        {{ form.password.label(class="form-control-label") }} {% if
        form.password.errors %} {{ form.password(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.password(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="label">
        {{ form.confirm_password.label(class="form-control-label") }} {% if
        form.confirm_password.errors %} {{
        form.confirm_password(class="form-control form-control-lg is-invalid")
        }}
        <div class="invalid-feedback">
          {% for error in form.confirm_password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.confirm_password(class="form-control
        form-control-lg") }} {% endif %}
      </div>
      <div class="label">{{ form.submit(class="btn btn-outline-info") }}</div>
      <p>
        Already register ?
        <a href="{{url_for('gd_course_HVL_2024_group4.login')}}">Login</a>
      </p>
    </form>
  </div>
</section>

{% endblock content %}
