{% extends "papers/spot_go/spot_go_layout.html" %}
{% block content %}


<section class="section_developers">
    <div class="container">
  

  
      <div class="developers">
          <div class="box">
            <img src="/static/papers/spot_go/malin.jpg" alt="" style="border-radius: 50%; width:200px;">
            <h3>Arve, Malin</h3>
            <p>  Malin Arve is a Professor at NHH. She received her PhD in Economics from the Toulouse School of Economics in 2011. Before joining NHH, she worked as a Postdoctoral Researcher at the University of Mannheim.
            Her research interests include microeconomics, contract and incentive theory, public procurement and investment.
            <br>
            <br>
            </p>
            <div class="container_buttons_developers">
              <a class="btn_developers" href="https://www.nhh.no/en/employees/faculty/malin-arve/"  target="_blank">Web</a>
            </div> 
          </div>
          <div class="box">
            <img src="/static/papers/spot_go/endre.jpg" alt="" style="border-radius: 50%; width:200px;">
            <h3>Bjørndal, Endre</h3>
            <p>  Endre Bjørndal is a Professor at the Department of Business and Management Science, NHH. He received his PhD degree in Management Science at NHH in 2002. He is an expert on analysis and regulation of energy markets, and his key areas of expertise include  regulation of natural monopolies, pricing and congestion management in electricity markets.
            </p>
            <div class="container_buttons_developers">
              <a class="btn_developers" href="https://www.nhh.no/en/employees/faculty/endre-bjorndal/"  target="_blank">Web</a>
            </div> 
          </div>           
          <div class="box">
            <img src="/static/papers/spot_go/mette.jpg" alt="" style="border-radius: 50%; width:200px;">
            <h3>Bjørndal, Mette</h3>
            <p>  Mette Bjørndal is Professor at the Department of Business and Management Science and former Vice Rector of NHH. Bjørndal has a PhD in Management Science, from NHH in 2000. Her areas of expertise include analysis of energy markets, market design and pricing, transmission pricing and congestion management in electricity and gas networks.
                <br>
                <br>
            </p>
            <div class="container_buttons_developers">
              <a class="btn_developers" href="https://www.nhh.no/en/employees/faculty/mette-helene-bjorndal"  target="_blank">Web</a>
            </div> 
          </div>     
      </div>
  
      <div class="developers">
        <div class="box2">
          <img src="/static/papers/spot_go/mario.jpg" alt="" style="border-radius: 50%; width:200px;">
          <h3>Blázquez,Mario</h3>
          <p>  Mario Blázquez is an Assistant Professor at the Department of Business and Management Science, NHH. He received a PhD. in Economics at University of Bologna in 2014. His research focuses on the analysis of electricity markets in the presence of transmission constraints and the design of electricity auctions using theoretical models and experiments. 
            <br>
            <br>
          </p>
          <div class="container_buttons_developers">
            <a class="btn_developers" href="https://www.nhh.no/en/employees/faculty/mario-blazquez-de-paz/"  target="_blank">Web</a>
          </div> 
        </div>
        <div class="box2">
          <img src="/static/papers/spot_go/isabel.jpg" alt="" style="border-radius: 50%; width:200px;">
          <h3>Hovdhal, Isabel</h3>
          <p>  Isabel Hovdahl is an Assistant Professor at the Norwegian School of Economics (NHH). She received a PhD. in Economics from the Norwegian University of Science and Technology (NTNU). In her research, she employs a combination of empirical methods and theoretical modeling to investigate social and economic issues related to climate change. 
          </p>
          <div class="container_buttons_developers">
            <a class="btn_developers" href="https://www.nhh.no/en/employees/faculty/isabel-montero-hovdahl/"  target="_blank">Web</a>
          </div> 
        </div>           
        <div class="box2", style="background-color: #49736f;">
  
        </div>     
    </div>
  
    </div>          
  </section>

{% endblock content %}