{% extends "papers/spot_go/spot_go_layout.html" %}
{% block content %}

   <!-- Section 3 -->
   <section class="section_3" id="section3">

    <div class="container">            

        <div class="onebox">                    
        </div>
        <div class="onebox">
            <div class="h1 mb-3" style="text-align: center;">
                <i class="bi bi-calendar"></i>
            </div>
            <h1>Calendar</h1>
            <p style="text-align: left;">
              We present our paper and share our ideas with our colleagues in different conferences and seminars:
              <ul style="text-align: left;">
                  <li>
                      Jornadas de Economía Industrial (August, 2022)                                  
                  </li>
                  </br>
                  <li>
                      NTRANS Conference (September, 2022)
                  </li>
                  </br>
                  <li>
                      EARIE Conference (August, 2023)
                  </li>
                  </br>
                  <li>
                      IEA World Congres (December, 2023)
                  </li>
              </ul>
          </p>
        </div>   
        <div class="onebox">                  
        </div> 
        
    </div>
</section> 


{% endblock content %}