/*
 bg-primary: #007bff
 bg-secondary: #6c757d
 bg-success: #28a745
 bg-danger: #dc3545
 bg-warning: #ffc107
 bg-info: #17a2b8
 bg-light: #f8f9fa
 bg-dark: #343a40
 bg-white: #ffffff   */

 /* Morning theme 3 -Sustainable Business Models Course-:
 mt3-1: #827862 
 mt3-2: #FEE6A7
 mt3-3: #CED1A4
 mt3-4: #9AC7A9
 mt3-5: #5BBBAF
Raining theme 5 -Sustainable Business Models Course-:
 rt5-1: #C5C8D9
 rt5-2: #9FA7BF
 rt5-3: #2B4359
 rt5-4: #4A736F
 rt5-5: #578C64
 */

/*Container home header*/
/*color=dark*/
.home_section_css {
display: flex;
background: #343a40;
}
.home_section_css .container {
display: flex;
background: #343a40;
}
.home_section_css .container .header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.home_section_css .container .header .box {
  flex: 1;
  background: #343a40;
  color: #fff;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}
.home_section_css .container .header .box:nth-of-type(1) {
  flex-grow:1;
  background: #343a40;
  color: #fff;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:left;
}
.home_section_css .container .header .box:nth-of-type(2) {
  flex-grow:1;
  background: #343a40;
  color: #fff;
  border-radius: 2px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}

/* Container home chapters */
.home_chapter_css {
  display: flex;
  background: #17a2b8 ;
  }
.home_chapter_css .container {
  display: flex;
  background:  #ffffff;
  }
.home_chapter_css .container .box {
  flex: 1;
  background: #343a40;
  color: #fff;
  height: 300px;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.home_chapter_css .container .box:nth-of-type(1) {
  background: #ffffff;
  flex-grow: 0.1;
}  
.home_chapter_css .container .box:nth-of-type(2) {
  background: #343a40;
  flex-grow: 3;
}  
.home_chapter_css .container .box:nth-of-type(3) {
  background: #343a40;
  flex-grow: 3;
}  
.home_chapter_css .container .box:nth-of-type(4) {
  background: #343a40;
  flex-grow: 3;
}  
.home_chapter_css .container .box:nth-of-type(5) {
  background: #343a40;
  flex-grow: 3;
}  
.home_chapter_css .container .box:nth-of-type(6) {
  background: #ffffff;
  flex-grow: 0.1;
}  
/* End container home chapters */

/* Container chapter 2 */
.section_chapter2 .container {
  background-color: #9fa7bf;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.column {
  background: #9fa7bf;
  display: flex;
  flex-direction: column;
  border: #ccc solid 0px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  border-radius: 10px;      
  flex:1;
}
.column1 .box {
  flex: 1;
  background: #568c63;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
}
.column2 .box {
  flex: 1;
  background: #568c63;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
}
.column3 .box {
  flex: 1;
  background: #568c63;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
}
.column4 .box {
  flex: 1;
  background: #568c63;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
}
/* End container chapter 2 */

/*Container buttons section chapters*/
.container_buttons_links_chapters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_chapters a:hover {
  color: #568c63;
}
/*End container buttons section chapters*/


/*Container buttons section header*/
.container_buttons_links_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.container_buttons_links_header a:hover {
  color: #343a40;
}
/*color=dark*/
.container_buttons_links_header btn {
  width: 100px;
  height: 100px;
  background: #343a40;
  color: #fff;

  display: flex;
  justify-content:center;
  align-items:center;
}

/*Chat layout*/
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  color: black;
  text-align: left;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}


@media(max-width:768px){
  .home_section_css .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }
 .home_section_css .container .header .box:nth-of-type(2) {
    flex-grow:1;
    background: #343a40;
    color: #fff;
    border-radius: 2px;
    margin: 0px 10px;
    padding: 15px 20px;
    text-align:center;
    max-width: 325px;
  }
  .home_chapter_css .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .statistics_summary3_css {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .section_chapter2 .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
}

