{% extends "gd_course/gd_course_layout.html" %}
{% block content %}

    <!-- Header -->
    <section xmlns="http://www.w3.org/1999/html">
        <header class="header_css">
            <div class="container">
                <div>
                    <h1> <span class="text-warning"> Ch11. Carbon App Calculator</span></h1>
                    <p class="mb-1">
                        In this chapter, we create forms to allow the user to select the transport, and to introduce the kilometers and the type of fuel. By using Python, we <strong>program our mathematical model</strong> to work out transport carbon emissions. By making a query to the database and by using a table, we <strong>disclose</strong> the transport, the type of fuel, the kilometers, and the carbon emissions.
                    </p>
                    <br>
                    <div class="container_buttons_links_header">
                    <div class="btn">
                        <a href="#"  target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">YouTube (Section 1a)</a>
                    </div>
                    <div class="btn">
                        <a href="#" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">YouTube (Section 1b)</a>
                    </div>
                    <div class="btn">
                        <a href="#" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">YouTube (Section 2)</a>
                    </div>
                    <div class="btn">
                        <a href="https://github.com/mariobp-NHH/GreenDigitalizationCourse2023/tree/main/Ch11%20CA" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">GitHub</a>
                    </div>
                    
                    <div class="btn">
                        <a href="{{url_for('gd_course_app_carbon_app_2023_ch11.home')}}" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Use it Yourself</a>
                    </div>
                    </div>  

                    <div class="list-group", style="padding: 15px 0px;">
                        <a href="#section1" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Python dictionaries and working out transport carbon emissions</h5>
                        </div>
                        <p class="mb-1">
                            We learn to <strong>create dictionaries in Python</strong>, and we use those dictionaries to store the emissions factors for each transport and type of fuel. We use those dictionaries in combination with <strong>our economic model</strong> to work out transport carbon emissions.
                        </p>
                        </a>
                        <a href="#section2" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Queries and tables</h5>
                        </div>
                        <p class="mb-1">
                            We use the <strong>queries</strong> that we learn when we studied databases to access to the users' transport, the type of fuel, the kilometers, and the carbon emissions. We disclose that information by using a <strong>Bootstrap tables</strong>.
                        </p>
                        </a>
                        <a href="#section3" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Weekly challenge</h5>
                        </div>
                        <p class="mb-1">
                            In this chapter, we focus on the carbon emissions generated by the buses. In the weekly challenge, we must introduce the forms, the routes, and the html files for the <strong>rest of means of conveyance</strong>. 
                        </p>
                        </a>
                    </div>
                </div>
                <img
                src="{{url_for('static', filename='figures/green_digitalization_course/ch11/ch11.svg')}}"
                        alt=""/>
            </div>
        </header>
    </section>


    <!-- Section 1 -->
    <section class="section_1" id="section1">
        <div class="container" style="display:block;">
            <h1>Python dictionaries and working out transport carbon emissions</h1>
            <h4>Some useful links</h4>
            <p>
                The links to the YouTube videos, and the GitHub account for this section are below:
            </p>
            <div class="section_container_buttons_chapters">
                <a class="btn-section1" href="#" target="_blank">YouTube (Section 1a)</a>
                <a class="btn-section1" href="#" target="_blank">YouTube (Section 1b)</a>
                <a class="btn-section1" href="https://github.com/mariobp-NHH/GreenDigitalizationCourse2023/tree/main/Ch11%20CA/Python_Dictionaries_Boilerplate1" target="_blank">GitHub (Boilerplate1)</a>
                <a class="btn-section1" href="https://github.com/mariobp-NHH/GreenDigitalizationCourse2023/tree/main/Ch11%20CA/Python_Dictionaries_Final1" target="_blank">GitHub (Final1)</a>
                <a class="btn-section1" href="https://github.com/mariobp-NHH/GreenDigitalizationCourse2023/tree/main/Ch11%20CA/CA_Boilerplate2" target="_blank">GitHub (Boilerplate2)</a>
                <a class="btn-section1" href="https://github.com/mariobp-NHH/GreenDigitalizationCourse2023/tree/main/Ch11%20CA/CA_Final2" target="_blank">GitHub (Final2)</a>
            </div>
            <p>
                All the information in this section has been taken from the next links:
            </p>
            <div class="section_container_buttons_chapters">
                <a class="btn-section1" href="https://docs.python.org/3/tutorial/datastructures.html"  target="_blank">Python</a>
                <a class="btn-section1" href="https://realpython.com/python-dicts/"  target="_blank">RealPython</a>
                <a class="btn-section1" href="https://www.freecodecamp.org/news/python-dictionary-methods-dictionaries-in-python/"  target="_blank">FreeCodeCamp</a>
                <a class="btn-section1" href="https://www.w3schools.com/python/python_ref_dictionary.asp"  target="_blank">W3Schools</a>
            </div> 
            <h4>Definition, and creating and accessing dictionary entries</h4>
            <p>
                Dictionaries are Python's implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.
            </p>  
        </div>  

        <div class="container">
            <div class="boxa" style="background-color: #568c63;">
                <h5>1. Creating a dictionary</h5>
                <p>
                    <pre><code class="html"></code>
efco2={'Bus': 0.1, 'Car': 0.2, 'Plane': 0.3, 'Ferry': 0.1, 
    'Motorbike': 0.1, 'Bicycle': 0, 'Walk': 0 }
print(efco2)
                    </code></pre> 
                </p>
            </div> 
            <div class="boxa">
                <h5>2. Updating an entry</h5>
                <p>
                    <pre><code class="html"></code>
efco2['Bus'] = 0.5
print(efco2['Bus'])
print(efco2)                        
                    </code></pre> 
                </p>
            </div> 
        </div>

        <div class="container">
            <div class="boxa" style="background-color: #568c63;">
                <h5>3. Deleting an entry</h5>
                <p>
                    <pre><code class="html"></code>
del efco2['Bus']
print(efco2)                        
                    </code></pre> 
                </p>
            </div> 
            <div class="boxa">
                <h5>4. To know with type of Python component is efco2</h5>
                <p>
                    <pre><code class="html"></code>
print(type(efco2))                      
                    </code></pre> 
                </p>
            </div> 
        </div>

        <div class="container">
            <div class="boxa" style="background-color: #568c63;">
                <h5>5. Creating a dictionary inside a dictionary</h5>
                <p>
                    <pre><code class="html"></code>
efco2['Bus']={'Diesel':0.10231,'CNG':0.08,'Petrol':0.10231,
    'No Fossil Fuel':0}
print(efco2)                                              
                    </code></pre> 
                </p>
            </div> 
            <div class="boxa">
                <h5>6. Accessing an entry in a dictionary inside a dictionary</h5>
                <p>
                    <pre><code class="html"></code>
print(efco2['Bus']['Diesel'])                   
                    </code></pre> 
                </p>
            </div> 
        </div>

        <div class="container" style="display:block;">
            <h4>Python dictionary methods</h4>
            <p>
                There are several built-in methods that can be invoked on dictionaries.
            </p>  
        </div> 
        
        <div class="container">
            <div class="boxa" style="background-color: #568c63;">
                <h5>1. Method dictionary.get()</h5>
                <p>
                    The Python dictionary.get() method provides a convenient way of getting the value of a key from a dictionary without checking ahead of time whether the key exists, and without raising an error.
                    <pre><code class="html"></code>
print(efco2.get('Bus'))                                            
                    </code></pre> 
                </p>
            </div> 
            <div class="boxa">
                <h5>2. Method dictionary.items()</h5>
                <p>
                    Dictionary.items() returns a list of tuples containing the key-value pairs in the dictionary. The first item in each tuple is the key, and the second item is the key's value.
                    <pre><code class="html"></code>
print(efco2.items())
print(list(efco2.items()))
print(list(efco2.items())[0][0])
print(list(efco2.items())[0][1])                                        
                    </code></pre> 
                </p>
            </div> 
        </div>

        <div class="container">
            <div class="boxa" style="background-color: #568c63;">
                <h5>3. Method dictionary.keys()</h5>
                <p>
                    Dictionary.keys() returns a list of all keys in the dictionary.
                    <pre><code class="html"></code>
print(efco2.keys())                                          
                    </code></pre> 
                </p>
            </div> 
            <div class="boxa">
                <h5>4. Method dictionary.values()</h5>
                <p>
                    Dictionary.values() returns a list of all values in the dictionary.
                    <pre><code class="html"></code>
print(efco2.values())                                        
                    </code></pre> 
                </p>
            </div> 
        </div>

        <div class="container" style="display:block;">
            <h4>Looping Techniques</h4>
            <p>
                When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method.
            </p>  
        </div> 

        <div class="container">
            <div class="boxa" style="background-color: #568c63;">
                <h5>1. Looping example 1</h5>
                <p>
                    <pre><code class="html"></code>
for k, v in efco2.items():
    print(k, v) 
                    </code></pre> 
                </p>
            </div> 
            <div class="boxa">
                <h5>2. Looping example 2</h5>
                <p>
                    <pre><code class="html"></code>
for k1, v1 in efco2.items():
    for k2, v2 in efco2[k1].items():
        print(k1, v1)
        print(k2, v2)
                    </code></pre> 
                </p>
            </div> 
        </div>

        <div class="container" style="display:block;">
            <h4>Using dictionaries inside our app, and working out transport carbon emissions</h4>
            <p>
                In this section, we work out users' transport carbon emissions. In the <strong>carbon_app.html file</strong>, the users select the type of transport. Then, the user is redirected to the webpage where the user introduces the number of kilometers and the type of fuel (e.g., <strong>new_entry_bus.html file</strong>, new_entry_car.html file, etcetera). In that webpage, the users introduce the kilometers and the type of fuel by using the form that we have created in the package carbon_app, in the <strong>forms.py file</strong>. Once that the user has introduced the kilometers and the type of fuel, the carbon emissions are calculated in the <strong>routes.py file</strong> inside the carbon_app package, and the user is redirected to the <strong>your_data.html file</strong>. 
                <br>
                <br>
                In this section, we focus on the <strong>mathematical model</strong> to work out the transport carbon emissions. In the next section, we focus on the query that we make to the database to disclose the carbon emissions in the your_data.html file.
            </p>  
        </div> 

        <div class="container">
            <div class="boxa" style="text-align: left; margin:0px; padding:0px;">
                <p>
                    In the <strong>package carbon_app</strong>, in the <strong>routes.py file</strong>, we focus on the <strong>route new_entry_bus</strong> (the procedure for the other means of conveyance is the same). 
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section1" href="#" target="_blank">YouTube (Section 2a)</a>
                </div>
                <p class="text-left">
                    <ol>
                        <li>
                            We need to <strong>import the form</strong> that we created in the package carbon_app, in the file forms.py.
                            <pre><code class="html"></code>
from capp.carbon_app.forms import BusForm
                            </code></pre>                             
                        </li>
                        <li>
                            We define the <strong>emission factor matrixes</strong>.
                            <pre><code class="html"></code>
efco2={'Bus':{'Diesel':0.10231,'CNG':0.08,
    'Petrol':0.10231,'No Fossil Fuel':0},
    'Car':{'Petrol':0.18592,'Diesel':0.16453,
    'No Fossil Fuel':0},...}
efch4={'Bus':{'Diesel':2e-5,'CNG':2.5e-3,
    'Petrol':2e-5,'No Fossil Fuel':0},
    'Car':{'Petrol':3.1e-4,'Diesel':3e-6,
    'No Fossil Fuel':0},...}                            
                            </code></pre> 
                        </li> 
                        <li>
                            We <strong>define the form</strong> that will be used in the new_entry_bus.html file.
                            <pre><code class="html"></code>
@carbon_app.route('/carbon_app/new_entry_bus', 
    methods=['GET','POST'])
@login_required
def new_entry_bus():
    form = BusForm()
    return render_template('carbon_app/new_entry_bus.html',
    title='new entry bus', form=form)
                            </code></pre>                             
                        </li>               
                    </ol>
                </p> 
            </div> 
            <div class="boxa">
            <h5>Package carbon_app, routes.py file</h5>
<pre><code class="html">
@carbon_app.route('/carbon_app/new_entry_bus',
    methods=['GET','POST'])
@login_required
def new_entry_bus():
    form = BusForm()
    if form.validate_on_submit():
        kms = form.kms.data
        fuel = form.fuel_type.data
        transport = 'Bus'
        # kms = request.form['kms']
        # fuel = request.form['fuel_type']

        co2 = float(kms) * efco2[transport][fuel]
        ch4 = float(kms) * efch4[transport][fuel]
        total = co2+ch4

        co2 = float("{:.2f}".format(co2))
        ch4 = float("{:.2f}".format(ch4))
        total = float("{:.2f}".format(total))

        emissions = Transport(kms=kms, transport=transport,
            fuel=fuel, co2=co2, ch4=ch4, total=total, author=current_user)
        db.session.add(emissions)
        db.session.commit()
        return redirect(url_for('carbon_app.your_data'))
    return render_template('carbon_app/new_entry_bus.html', 
        title='new entry bus', form=form)
</code></pre>                
            </div> 
        </div> 

        <div class="container" style="display:block;">
            <p>
                <ol start="4">
                    <li>
                        Once that the user introduces the kilometers and the type of fuel, we <strong>work out the transport carbon emissions</strong>. We proceed in four steps:
                        <ol type="a">
                            <li>
                                We <strong>take the data</strong> from the form.
                                <pre><code class="html"></code>
kms = form.kms.data
fuel = form.fuel_type.data
transport = 'Bus'                                    
                                </code></pre> 
                            </li>
                            <li>
                                We <strong>work out</strong> the emissions.
                                <pre><code class="html"></code>
co2 = float(kms) * efco2[transport][fuel]
ch4 = float(kms) * efch4[transport][fuel]
total = co2+ch4                                    
                                </code></pre> 
                            </li>
                            <li>
                                We <strong>round the data</strong> to avoid having a lot of decimals.
                                <pre><code class="html"></code>
co2 = float("{:.2f}".format(co2))
ch4 = float("{:.2f}".format(ch4))
total = float("{:.2f}".format(total))                                    
                                </code></pre> 
                            </li>
                            <li>
                                We store the data in the <strong>database</strong>. 
                                <pre><code class="html"></code>
emissions = Transport(kms=kms, transport=transport, 
fuel=fuel, co2=co2, ch4=ch4, total=total, 
author=current_user)
db.session.add(emissions)
db.session.commit()
                                </code></pre> 
                            </li>
                        </ol>
                            
                    </li>
                </ol>
                
            </p>  
        </div> 
              
    </section>  

    <!-- Section 2 -->
    <section class="section_2" id="section2">
        <div class="container" style="display:block;">
            <h1>Queries and tables</h1>
            <p>
                In this section we make a <strong>query</strong> to the database to collect information about the transport, the fuel, the kilometers, and the emissions. After making a query, we disclose the information by using a <strong>Bootstrap table</strong>. We also learn to <strong>delete</strong> an entry from our database.
            </p>
            <h4>Some useful links</h4>
            <p>
                The links to the YouTube video, and the GitHub account for this section are below:
            </p>
            <div class="section_container_buttons_chapters">
                <a class="btn-section2" href="#" target="_blank">YouTube (Section 2)</a>
                <a class="btn-section2" href="https://github.com/mariobp-NHH/GreenDigitalizationCourse2023/tree/main/Ch11%20CA/CA_Boilerplate3" target="_blank">GitHub (Boilerplate3)</a>
                <a class="btn-section2" href="https://github.com/mariobp-NHH/GreenDigitalizationCourse2023/tree/main/Ch11%20CA/CA_Final3" target="_blank">GitHub (Final3)</a>
            </div> 
        </div>
    
        <div class="container">
            <div class="boxa" style="text-align: left; margin:0px; padding:0px;">
                <h4>Query</h4>
                <p style="text-align: left;">                    
                    We make a <strong>query</strong> from the database by introducing the next <strong>filters</strong>:
                    <ol>
                        <li>
                            We filter by the author.
                        </li>
                        <br>
                        <li>
                            We filter the entries for the last five days.
                        </li>
                        <br>
                        <li>
                            We order the data in descending order according to the date.
                        </li>
                        <br>
                        <li>
                            We order the data in ascending order according to the transport.
                        </li>
                    </ol>
                </p>      
            </div>
            <div class="boxa" style="height:180px;">
                <h5>carbon_app package, routes.py file</h5>
<pre><code class="html">
entries = Transport.query.filter_by(author=current_user). \
filter(Transport.date&#62; (datetime.now() - timedelta(days=5))).\
order_by(Transport.date.desc()).order_by(Transport.transport.asc()).all()
</code></pre>    
            </div>
        </div>

        <div class="container" style="display:block;">
            <h4>Table</h4>
            <p>
                By using a <strong>bootstrap table</strong>, we disclose the data that we obtained in our query. The link to the bootstrap tables can be found below:
            </p>
            <div class="section_container_buttons_chapters">
                <a class="btn-section2" href="https://getbootstrap.com/docs/4.1/content/tables/" target="_blank">Bootstrap tables</a>
            </div> 
            <p>
                We must introduce the next changes in the <strong>your_data.html file</strong>.
                <pre><code class="html">
&#60;table class="table"&#62;
&#60;thead class="thead-dark"&#62;
    &#60;tr&#62;
        &#60;th scope="col"&#62;User&#60;/th&#62;
        &#60;th scope="col"&#62;Date&#60;/th&#62;
        &#60;th scope="col"&#62;Kilometres&#60;/th&#62;
        &#60;th scope="col"&#62;...&#60;/th&#62;
        &#60;th scope="col"&#62;Delete&#60;/th&#62;
    &#60;/tr&#62;
&#60;/thead&#62;
&#60;tbody&#62;
    &#123;&#37; for entry in entries &#37;&#125;
        &#60;tr&#62;
            &#60;th scope="row"&#62;&#123;&#123; current_user.username &#125;&#125;&#60;/th&#62;
            &#60;td&#62;&#123;&#123; entry.date.strftime("&#37;m-&#37;d-&#37;Y") &#125;&#125;&#60;/td&#62;
            &#60;td&#62;&#123;&#123; entry.kms &#125;&#125;&#60;/td&#62;
            &#60;td&#62;&#123;&#123; ...&#125;&#125;&#60;/td&#62;
            &#60;td&#62;&#60;a href="&#123;&#123; url_for('carbon_app.delete_emission', 
            entry_id = entry.id) &#125;&#125;" 
            class="btn btn-outline-danger btn-sm"&#62;Delete&#60;/a&#62;&#60;/td&#62;
        &#60;/tr&#62;
    &#123;&#37; endfor &#37;&#125;
&#60;/tbody&#62;
&#60;/table&#62;                  
                </code></pre> 
            </p>
        </div>

        <div class="container" style="display:block;">
            <h4>Delete an entry in the database</h4>
            <p>
                We could be interested in allowing the user to erase an entry from the database. To do that, we need to introduce a <strong>link in the table</strong>, and a <strong>new route to delete the entry</strong>. The link in the table is in the code above. I also disclose that code in the next lines of code:
            </p>
            <p>
                We must introduce the next changes in the <strong>your_data.html file</strong>.
                <pre><code class="html">
&#60;td&#62;&#60;a href="&#123;&#123; url_for('carbon_app.delete_emission', 
entry_id = entry.id) &#125;&#125;" 
class="btn btn-outline-danger btn-sm"&#62;Delete&#60;/a&#62;
&#60;/td&#62;           
                </code></pre> 
            </p>
        </div>

        <div class="container">
            <div class="boxa" style="text-align: left; margin:0px; padding:0px;">
                <p style="text-align: left;">                    
                    In the <strong>carbon_app package</strong>, in the <strong>routes.py file</strong>, we need to introduce a new route to delete an entry from the database. We proceed in four steps:
                    <ol>
                        <li>
                            We make a <strong>query</strong> in the database to find the entry. If the entry is not in the database, we provide a 404 message.
                        </li>
                        <br>
                        <li>
                            By using the <strong>delete method</strong>, we delete the entry.
                        </li>
                        <br>
                        <li>
                            By using the <strong>commit method</strong>, we commit the changes.
                        </li>
                        <br>
                        <li>
                            We disclose a <strong>message</strong> and <strong>redirect</strong> the user to the your_data.html file.
                        </li>
                    </ol>
                </p>      
            </div>
            <div class="boxa" style="height:250px;">
                <h5>carbon_app package, routes.py file</h5>
<pre><code class="html">
@carbon_app.route('/carbon_app/delete-emission/&#60;int:entry_id&#62;')
def delete_emission(entry_id):
    entry = Transport.query.get_or_404(int(entry_id))
    db.session.delete(entry)
    db.session.commit()
    flash("Entry deleted", "success")
    return redirect(url_for('carbon_app.your_data'))
</code></pre>    
            </div>
        </div>

    </section> 

    <!-- Section 3 -->
    <section class="section_3" id="section3">

        <div class="container">
            <div class="onebox">                    
            </div>
            <div class="onebox">
                <div class="h1 mb-3" style="text-align: center;">
                    <i class="bi bi-calendar"></i>
                </div>
                <h1>Weekly challenge</h1>
                <p style="text-align: left;"> 
                    In this chapter, we focus on the carbon emissions generated by the buses. In the weekly challenge, we must introduce the forms, the routes, and the html files for the rest of means of conveyance. 
                </p> 
                <div class="container_buttons_links_section_3a">
                    <div class="btn">
                        <a href="https://github.com/mariobp-NHH/GreenDigitalizationCourse2023/tree/main/Ch11%20CA/CA_Boilerplate4" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">GitHub (Boilerplate4)</a>
                    </div> 
                    <div class="btn">
                        <a href="https://github.com/mariobp-NHH/GreenDigitalizationCourse2023/tree/main/Ch11%20CA/CA_Final4" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">GitHub (Final4)</a>
                    </div> 
                    <div class="btn">
                        <a href="{{url_for('gd_course_app_carbon_app_2023_ch11.home')}}" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Use it Yourself</a>
                    </div>
                </div>
            </div>   
            <div class="onebox">                  
            </div> 
        </div>

    </section> 


  


{% endblock content %}