{% extends "gd_course/gd_course_layout.html" %}

{% block content %}
    <!-- Header -->
    <section class="section_1" id="section2">
        <div class="container" style="display:block;">
                
            <h1>Create a Flex Container</h1>

            <div class="ch3_flex_container">
                <div class="item1">Item 1</div>
                <div class="item2">Item 2</div>
                <div class="item3">Item 3</div>  
            </div>

            <p>A Flexible Layout must have a parent element with the <em>display</em> property set to <em>flex</em>.</p>

            <p>Direct child elements(s) of the flexible container automatically becomes flexible items.</p>

        </div>
    </section>

{% endblock content %}