{% extends "gd_course/gd_course_layout.html" %}

{% block content %}
    <!-- Header -->
    <section class="section_1" id="section2">
        <div class="container" style="display:block;">
                
            <div class="ch3_flex_container_week2">    
                <ul class="ch3_flex_list_week2">
                  <li style="padding:20px">Hone</li>
                  <li style="padding:20px">Methodology</li>
                  <li style="padding:20px">Carbon App</li>
                </ul>
            </div> 

        </div>
    </section>

{% endblock content %}