{% extends "gd_course/gd_course_layout.html" %}

{% block content %}
    <!-- Header -->
    <section class="section_1" id="section2">
        <div class="container" style="display:block;">
                
            <div class="ch3_div_week1">
                <h4>This is paragraph:</h4>
                <p style="border: 1px solid red">This is a box with a width of 800px, a height of 800px and a padding of 10px</p>
                <h4>This is a list:</h4>
                <ul style="border: 1px solid red">
                  <li>Item 1</li>
                  <li>Item 2</li>
                </ul>
                <h4>This is a button:</h4>
                <button style="border: 1px solid red">Button</button>
            </div> 

        </div>
    </section>

{% endblock content %}