{% extends "gd_course/gd_course_layout.html" %}

{% block content %}
    <!-- Header -->
    <section class="section_1" id="section2">
        <div class="container" style="display:block;">
                
            <h1>The display Property</h1>

            <h2>Display: Inline</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. <span class="ch3_span_a">Aliquam</span> <span class="ch3_span_a">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div>

        </div>
    </section>

    <section class="section_2" id="section2">
        <div class="container" style="display:block;">
                
            <h2>Display: Inline-block</h2>

            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. <span class="ch3_span_b">Aliquam</span> <span class="ch3_span_b">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div>

        </div>
    </section>

    <section class="section_3" id="section2">
        <div class="container" style="display:block;">
                
            <h2>Display: Block</h2>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. <span class="ch3_span_c">Aliquam</span> <span class="ch3_span_c">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div>

        </div>
    </section>
{% endblock content %}