{% extends "gd_course/gd_course_layout.html" %}
{% block content %}

    <!-- Header -->
    <section xmlns="http://www.w3.org/1999/html">
        <header class="header_css">
            <div class="container">
                <div>
                    <h1> <span class="text-warning"> Ch1. Installation and first Flask app </span></h1>
                    <p class="mb-1">
                        We install Python and Visual Studio Code. We learn to create virtual enviroments, and we create our first Flask app.
                    </p>
                    </br>

                    <div class="container_buttons_links_header">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">YouTube</a>
                    </div>
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">GitHub</a>
                    </div>
                    </div>  

                    <div class="list-group", style="padding: 15px 0px;">
                        <a href="#section1" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section 1</h5>
                        </div>
                        <p class="mb-1">
                            ...
                        </p>

                        </a>
                        <a href="#section2" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section 2</h5>
                        </div>
                        <p class="mb-1">
                            ...
                        </p>
                        </a>
                        <a href="#section3" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section 3</h5>
                        </div>
                        <p class="mb-1">
                            ...
                        </p>
                        </a>
                        <a href="#section4" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section 4</h5>
                        </div>
                        <p class="mb-1">
                            ...
                        </p>
                        </a>
                    </div>
                </div>
                <img
                src="{{url_for('static', filename='figures/green_digitalization_course/ch1/ch1_icon.svg')}}"
                        alt=""/>
            </div>
        </header>
    </section>

    <!-- Section 1 -->
    <section class="section_1" id="section1">
        <div class="container">

            <div class="box">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>            
                <div class="container_buttons_links_section_1a">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 1a</a>
                    </div>
                </div>        
            </div>
            <div class="box">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>   
                <div class="container_buttons_links_section_1b">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 1b</a>
                    </div>
                </div> 
            </div>

        </div>        
    </section>  
    <section class="section_1">
        <div class="container">
            <div class="box_questions">
                      
            </div>
            <div class="box_questions">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>            
                <div class="container_buttons_links_questions">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 1, Q1</a>
                    </div>
                </div>        
            </div>
            <div class="box_questions">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>   
                <div class="container_buttons_links_questions">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 1, Q2</a>
                    </div>
                </div> 
            </div>
            <div class="box_questions">
                      
            </div>
        </div>
    </section>  

    <!-- Section 2 -->
    <section class="section_2" id="section2">
        <div class="container">
            <div class="box">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>            
                <div class="container_buttons_links_section_2a">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 2a</a>
                    </div>
                </div>        
            </div>
            <div class="box">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>   
                <div class="container_buttons_links_section_2b">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 2b</a>
                    </div>
                </div>
            </div>
        </div>  
    </section>  
    <section class="section_2" id="section2">
        <div class="container">
            <!--Enumerated list (table)-->
            <div class="box_table">
                      
            </div>
            <div class="box_table">
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">...</div>
                        <p class="text-right">
                            ..
                        </p>
                    </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">...</div>
                        <p class="text-right">
                            ...
                        </p>
                    </div>
                    </li>
                </ol>                        
            </div>
            <div class="box_table">
                      
            </div>
        </div>  
    </section> 
    <section class="section_2">
        <div class="container">
            <div class="box_questions">
                      
            </div>
            <div class="box_questions">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>            
                <div class="container_buttons_links_questions">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 2, Q1</a>
                    </div>
                </div>        
            </div>
            <div class="box_questions">
                      
            </div>
        </div>
    </section> 

    <!-- Section 3 -->
    <section class="section_3" id="section3">
        <div class="container">
            <div class="box">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>            
                <div class="container_buttons_links_section_3a">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 3a</a>
                    </div>
                </div>        
            </div>
            <div class="box">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>   
                <div class="container_buttons_links_section_3b">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 3b</a>
                    </div>
                </div>
            </div>            
        </div>
    </section> 
    <section class="section_3">
        <div class="container">
            <div class="box_questions">
                      
            </div>
            <div class="box_questions">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>            
                <div class="container_buttons_links_questions">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 3, Q1</a>
                    </div>
                </div>        
            </div>
            <div class="box_questions">
                      
            </div>
        </div>
    </section> 

    <!-- Section 4 -->
    <section class="section_4" id="section4">
        <div class="container">
            <div class="box">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>            
                <div class="container_buttons_links_section_4a">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 4a</a>
                    </div>
                </div>        
            </div>
            <div class="box">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>   
                <div class="container_buttons_links_section_4b">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 4b</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_4">
        <div class="container">
            <div class="box_questions">
                      
            </div>
            <div class="box_questions">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>            
                <div class="container_buttons_links_questions">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 4, Q1</a>
                    </div>
                </div>        
            </div>
            <div class="box_questions">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>   
                <div class="container_buttons_links_questions">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 4, Q2</a>
                    </div>
                </div> 
            </div>
            <div class="box_questions">
                      
            </div>
        </div>
    </section> 


{% endblock content %}