{% extends "gender_platform/gender_platform_layout.html" %}
{% block content %}


    <!-- IWD Questions -->
    <section class="p-5", style="background-color: #6c757d;">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card text-light", style="background-color:#8bbbd9;">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <img
                                    src="{{url_for('static', filename='figures/green_digitalization_course/digitalization_course_icon.svg')}}"
                                    width="50" 
                                    height="50"
                                alt=""/>
                            </div>
                            <h3 class="card-title mb-3">
                                Questionnaire 1
                            </h3>
                            <p class="card-text">
                                This questionnaire study the main challenges of the female professors, researchers and PhD. students at the university.
                            </p>
                            <div class="container_buttons_links_course_green">
                               <div class="btn">
                                   <a href="{{url_for('gender_platform_questionnaires.nhh_gender_platform_questionnaire1_q1')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Questionnaire 1</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card text-light", style="background-color:#f2c299;">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <img
                                    src="{{url_for('static', filename='figures/forward/se_course_icon.svg')}}"
                                    width="50" 
                                    height="50"
                                alt=""/>
                            </div>
                            <h3 class="card-title mb-3">
                                Questionnaire 2
                            </h3>
                            <p class="card-text">
                                This questionnaire study the main challenges of the female bachelor and master students at the university.
                            </p>
                            <div class="container_buttons_links_course_se">
                               <div class="btn">
                                   <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Questionnaire 2</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card text-light", style="background-color:#8bbbd9;">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <img
                                    src="{{url_for('static', filename='figures/green_digitalization_course/digitalization_course_icon.svg')}}"
                                    width="50" 
                                    height="50"
                                alt=""/>
                            </div>
                            <h3 class="card-title mb-3">
                                Questionnaire 3
                            </h3>
                            <p class="card-text">
                                This questionnaire study the main challenges of the female administrative staff at the university.
                            </p>
                            <div class="container_buttons_links_course_green">
                               <div class="btn">
                                   <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Questionnaire 3</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card text-light", style="background-color:#f2c299;">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <img
                                    src="{{url_for('static', filename='figures/forward/se_course_icon.svg')}}"
                                    width="50" 
                                    height="50"
                                alt=""/>
                            </div>
                            <h3 class="card-title mb-3">
                                Questionnaire 4
                            </h3>
                            <p class="card-text">
                                This questionnaire study the main challenges of the female maintenance staff at the university.
                            </p>
                            <div class="container_buttons_links_course_se">
                               <div class="btn">
                                   <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Questionnaire 4</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </section>

  


{% endblock content %}