{% extends "gd_course/NHH_2024_group1/layout.html" %}
{% block content %}

<section class="section_header_forms">
    <div class="container">
        <div class="header_forms">
            <div class="box">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <h1 class="page-title">Create a new account</h1>
                        {% for field in [form.username, form.email, form.password, form.confirm_password] %}
                            <div class="form-group">
                                {{ field.label(class="form-control-label") }}
                                {% if field.errors %}
                                    {{ field(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in field.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ field(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="container_buttons btn btn_header") }}
                    </div>
                </form>
                <p>Already Have An Account?<a href="{{ url_for('gd_course_NHH_2024_group1.login') }}"> Sign In</a></p>
            </div>
        <div class="box" style="width: 325px; height: 325px;"></div>
    </div>
</section>
<section class="section_padding"></section>

{% endblock content %}
