{% extends "sbm_course/sbm_NMBU_2023_group3/layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_home">
  <div class="container">

    <div class="header_home">
      <div class="box"> 
        <h1 style="font-size:55px; color: #ffa500;"><span class="text-logo"> Welcome to the carbon app</span></h1>
        <p style="text-align:center;">
         
        </p>
      </div>
    </div>
      
    </div>

    <div class="video-container" style="text-align: center;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fStmxIfwXeI" frameborder="2px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  </div>
</section>

<section class="section_developers">
  <div class="container">

    <div class="developers" style="display:block;">
      <h1 style="text-align:center;"> Our Team</h1>
      <p>
        Teamet bak karbon appen er en gruppe studenter fra NMBU, Vi er en gruppe på fire studenter som har jobbet med dette høsten 2023.
      </p>      
    </div>

    <div class="developers">
        <div class="box">
          <img src="https://media.licdn.com/dms/image/C4E03AQEE5zd33ruUBw/profile-displayphoto-shrink_800_800/0/1642455994064?e=2147483647&v=beta&t=qrge-f2aAaIPE2_0kVbpyqiZSXVTO2-VZYZSR2ZQmdM
          " alt="" style="border-radius: 50%; width:200px;">
          <h3>Karoline</h3>
          <p>  Student på NMBU, siste året master entreprenørskap og innovasjon. Hun har en Bachelor i pedagogikk
            <br>
            <br>
            <br>
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>
        <div class="box">
          <img src="https://media.licdn.com/dms/image/D4D03AQFBNmO2eQ2olg/profile-displayphoto-shrink_200_200/0/1644877952238?e=2147483647&v=beta&t=vQO1GLE0ddVk3MuoedBZnTmV8ozDX_nByxFXSR6h64w" alt="" style="border-radius: 50%; width:200px;">
          <h3>Viktoria</h3>
          <p>  Er i fra Gjøvik og har en Bachelor fra BI. Hun studerer nå master i økonomi og administrasjon med spesialisering i entreprenørskap og forretningsutvikling.
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>           
        <div class="box">
          <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.18169-9/18839146_1370164879744915_8672291400782236114_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=be3454&_nc_ohc=vn5AZG57j2kAX9njYVR&_nc_ht=scontent-arn2-1.xx&oh=00_AfAw9WdTfGUuUvn2gmYFYGjfSGZShfNjRzdqwU2UxpUN4Q&oe=65740E30" alt="" style="border-radius: 50%; width:200px;">
          <h3>Adrianna</h3>
          <p>  Har Bachelor i økonomi og administrasjon fra BI og studerer nå master i økonomi og administrasjon med spesialisering i entreprenørskap og forretningsutvikling
            <br>
            <br>
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>     
    </div>

    <div class="developers">
      <div class="box2">
        <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t39.30808-1/333573619_528497632636811_3716882422778450870_n.jpg?stp=cp6_dst-jpg_p320x320&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=2s0Ro-v9T3UAX-TrcLt&_nc_ht=scontent-arn2-1.xx&oh=00_AfCS870vtHhYJltYCbE_1_tBJv7diPRTiy3t7Mmj6IaK5w&oe=6550D8D7" alt="" style="border-radius: 50%; width:200px;">
        <h3>Simen</h3>
        <p> Bonden fra toten, med Bachelor i økonomi og administrasjon fra NMBU. Studerr nå master i økonomi og administrasjon med spesialisering i entreprenørskap og forretningsutvikling.
        </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
        </div> 
      </div>
   


      </div>     
  </div>


  </div>          
</section>
        
{% endblock content %}
