{% extends "sbm_course/sbm_NMBU_2023_group3/layout.html" %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans:400,400i,700" rel="stylesheet">

<!-- Header -->
<section class="section_header_methodology" style="background-color: #f3f4f6;">
    <div class="container">
  
      <div class="header" style="color: #333;">
        <div class="box"> 
          <h1 style="font-size:60px; font-family: 'Roboto', sans-serif; color: #5b63d8;">Methodology</h1>
          <p style="font-family: 'Open Sans', sans-serif; text-align:justify;">
            Precision Meets Sustainability!
            <br>

            Welcome to the core of our approach! Our Carbon App Calculator is built on the methodology seen under. We understand that the journey towards sustainability begins with accurate and comprehensible information
          </p>
          <div class="container_buttons_links_header">
            
            <a href="{{url_for('sbm_course_NMBU_2023_group3.carbon_app')}}" class="btn" style="background-color:#FFA500; color:white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Carbon App</a>
          </div>  
        </div>
        <div class="box">
          <img 
            src="{{url_for('static', filename='sbm_course_NMBU_2023_group3/icons/387471007_362036173004592_8692579689858206495_n.png')}}"
            width="325" 
            height="325"
            alt=""/>
        </div>
      </div>
      
    </div>
</section> 



{% endblock content %}