{% extends "gd_course/HVL_2024_group1/layout.html" %} 
{% block content %}

<!-- Header -->
<section class="section_header_about">
  <div class="container">

    <div class="header">
      <div class="box"> 
        <h1 style="font-size:55px;"><span class="text-logo"> About us</span></h1>
        <p style="text-align:left;">
         CarbonCare aims to address Europe’s significant carbon emissions from transportation by advocating for the adoption of lower-emission modes. Our initiative introduces a carbon emissions application, designed to raise individual awareness and facilitate the calculation of carbon footprints. Through analysis of various transportation modes, including cars, airplanes, ferries, trains, motorcycles, and buses, we emphasize the importance of informed choices in reducing environmental impact. CarbonCare is designed to encourage collective action to reduce carbon emissions.
        </p>
        <p>Our business model is founded on the increasing significance of opting for sustainable choices.</p>
          </div>
        </div>
        <div class="box">
          <img 
            src="{{url_for('static', filename='/gd_course_HVL_2024_group1/icons/about_us.svg')}}"
            width="325" 
            height="325"
            alt=""/>
        </div>
  </div>

</section>

  <!-- Developers -->
  <section class="section_developers">

      <div class="developers">
          <div class="box">
            <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160711399/c3fbca2d-0310-467e-9c3e-1bd2af305397" alt="" class="developer-photo">
            <h3>Edvard Nordstrand Tødenes</h3>
            <p> 
            </p>
            <div class="section_container_buttons_developers">
              <a class="btn_developers" href="https://www.facebook.com/profile.php?id=100002934759394"  target="_blank">Facebook</a>
            </div> 
          </div>
          <div class="box">
            <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160719390/8f5fae7a-3401-4eaf-8c3d-41926e78625f" alt="" class="developer-photo">
            <h3>Ola Børve</h3>
            <p>
            </p>
            <div class="section_container_buttons_developers">
              <a class="btn_developers" href="https://www.facebook.com/olaborve"  target="_blank">Facebook</a>
            </div> 
          </div>
      </div>
      
      <div class="developers">
          <div class="box2">
           <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160719390/21c45135-d296-49ca-b9a9-4a44f95a26d5" alt="" class="developer-photo">
            <h3>Benjamin Lien Larsen</h3>
            <p> 
            </p>
            <div class="section_container_buttons_developers">
              <a class="btn_developers" href="https://www.facebook.com/profile.php?id=100010429727707&sk=about"  target="_blank">Facebook</a>
            </div> 
          </div>           
          <div class="box2">
            <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160719390/c2ff9ce9-1c71-4472-8295-6fed3f3fa65e" alt="" class="developer-photo">
            <h3>Martin Trengereid</h3>
            <p> 
            </p>
            <div class="section_container_buttons_developers">
              <a class="btn_developers" href="https://www.facebook.com/martin.trengereid"  target="_blank">Facebook</a>
            </div> 
          </div>     
      </div>     

      <div class="developers">
        <div class="box3">
          <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160719390/44082e30-6fbb-4a30-9cfb-335b9e80bb44" alt="" class="developer-photo">
          <h3>Erik Berentsen</h3>
          <p> 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="https://www.facebook.com/profile.php?id=100010249211502"  target="_blank">Facebook</a>
          </div> 
        </div>
        <div class="box3">
          <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160719390/076c1f05-5053-49a7-901e-2ae029d015fc" alt="" class="developer-photo">
          <h3>Tomas Chernov</h3>
          <p> 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="https://www.facebook.com/tomas.chernov.9/friends"  target="_blank">Facebook</a>
          </div> 
        </div>           
        <div class="box3">
          <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160719390/86c07a8c-3609-42d9-a8a3-910304b2bba4" alt="" class="developer-photo">
          <h3>Tobias Ytterdahl Bergland</h3>
          <p> 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="https://www.facebook.com/tobias.bergland"  target="_blank">Facebook</a>
          </div> 
        </div>     
      </div>
    </div>     
  </div>          
  </section>

  <section class="section_footer">
    <div class="container">
      <div class="footer">
        <h1> 
          <a href="#">
            <i class="fa-solid fa-circle-up" style="color:#2a4359"> Back to top</i>
          </a>
        </h1>
      </div>
    </div>
  </section>

  {% endblock content %}
