{% extends "aab_course/aab_course_layout.html" %}
{% block content %}

    <!-- Header -->
    <section xmlns="http://www.w3.org/1999/html">
        <header class="header_css">
            <div class="container">
                <div>
                    <h1> <span class="text-warning"> Ch1. Installation and first Flask app </span></h1>
                    <p class="mb-1">
                        We install Python and Visual Studio Code. We learn to create virtual enviroments, and we create our first Flask app.
                    </p>
                    </br>

                    <div class="container_buttons_links_header">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">YouTube</a>
                    </div>
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">GitHub</a>
                    </div>
                    </div>  

                    <div class="list-group", style="padding: 15px 0px;">
                        <a href="#section1" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section 1</h5>
                        </div>
                        <p class="mb-1">
                            ...
                        </p>

                        </a>
                        <a href="#section2" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section 2</h5>
                        </div>
                        <p class="mb-1">
                            ...
                        </p>
                        </a>
                        <a href="#section3" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section 3</h5>
                        </div>
                        <p class="mb-1">
                            ...
                        </p>
                        </a>
                        <a href="#section4" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section 4</h5>
                        </div>
                        <p class="mb-1">
                            ...
                        </p>
                        </a>
                    </div>
                </div>
                <img
                src="{{url_for('static', filename='figures/green_digitalization_course/ch1/ch1_icon.svg')}}"
                        alt=""/>
            </div>
        </header>
    </section>

    <!-- Section 1 -->
    <section class="section_1" id="section1">

        <div class="container" style="display:block;">
            <h1>Section 1</h1>
            <p>
                The links to ....
            </p>
            <div class="section_container_buttons_chapters">
                <a class="btn-section1" href="#" target="_blank">YouTube (Header)</a>
                <a class="btn-section1" href="#" target="_blank">YouTube (Developers)</a>
            </div>
        </div> 

        <div class="container">
            <div class="boxa" style="background: #96C6D9;">
                <h5 style="text-align:center;">SVG files</h5>
                <p>
                    ....
                    ....
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section1_box" href="https://www.adobe.com/creativecloud/file-types/image/vector/svg-file.html" target="_blank">SVG files</a>
                </div> 
            </div> 
            <div class="boxa">
                <h5 style="text-align:center;">PNG files</h5>
                <p>
                    ...

                    ...:
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section1_box" href="#" target="_blank">Button</a>
                </div> 
            </div>               
        </div>

        <div class="container">
            <div class="boxa" style="background: #96C6D9;">
                <h5 style="text-align:center;">SVG files</h5>
                <p>
                    ....
                    ....
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section1_box" href="https://www.adobe.com/creativecloud/file-types/image/vector/svg-file.html" target="_blank">SVG files</a>
                </div> 
            </div> 
            <div class="boxa" style="background: #6DA6A6;">
                <h5 style="text-align:center;">PNG files</h5>
                <p>
                    ...

                    ...:
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section1" href="#" target="_blank">Button</a>
                </div> 
            </div>               
        </div>
       
    </section>  


    <!-- Section 2 -->
    <section class="section_2" id="section2">

        <div class="container" style="display:block;">
            <h1>Section 2</h1>
            <p>
                The links to ....
            </p>
            <div class="section_container_buttons_chapters">
                <a class="btn-section2" href="#" target="_blank">YouTube (Header)</a>
                <a class="btn-section2" href="#" target="_blank">YouTube (Developers)</a>
            </div>
        </div> 

        <div class="container">
            <div class="boxa" style="background: #49736f;">
                <h5 style="text-align:center;">SVG files</h5>
                <p>
                    ....
                    ....
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section2_box" href="https://www.adobe.com/creativecloud/file-types/image/vector/svg-file.html" target="_blank">SVG files</a>
                </div> 
            </div> 
            <div class="boxa">
                <h5 style="text-align:center;">PNG files</h5>
                <p>
                    ...

                    ...:
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section2_box" href="#" target="_blank">Button</a>
                </div> 
            </div>               
        </div>

        <div class="container">
            <div class="boxa" style="background: #49736f;">
                <h5 style="text-align:center;">SVG files</h5>
                <p>
                    ....
                    ....
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section2_box" href="https://www.adobe.com/creativecloud/file-types/image/vector/svg-file.html" target="_blank">SVG files</a>
                </div> 
            </div> 
            <div class="boxa" style="background: #c5c8d9;">
                <h5 style="text-align:center;">PNG files</h5>
                <p>
                    ...

                    ...:
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section2" href="#" target="_blank">Button</a>
                </div> 
            </div>               
        </div>    

    </section> 

    <!-- Section 3 -->
    <section class="section_3" id="section3">

        <div class="container" style="display:block;">
            <h1>Section 3</h1>
            <p>
                The links to ....
            </p>
            <div class="section_container_buttons_chapters">
                <a class="btn-section3" href="#" target="_blank">YouTube (Header)</a>
                <a class="btn-section3" href="#" target="_blank">YouTube (Developers)</a>
            </div>
        </div> 

        <div class="container">
            <div class="boxa" style="background: #789091;">
                <h5 style="text-align:center;">SVG files</h5>
                <p>
                    ....
                    ....
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section3_box" href="https://www.adobe.com/creativecloud/file-types/image/vector/svg-file.html" target="_blank">SVG files</a>
                </div> 
            </div> 
            <div class="boxa">
                <h5 style="text-align:center;">PNG files</h5>
                <p>
                    ...

                    ...:
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section3_box" href="#" target="_blank">Button</a>
                </div> 
            </div>               
        </div>

        <div class="container">
            <div class="boxa" style="background: #789091;">
                <h5 style="text-align:center;">SVG files</h5>
                <p>
                    ....
                    ....
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section3_box" href="https://www.adobe.com/creativecloud/file-types/image/vector/svg-file.html" target="_blank">SVG files</a>
                </div> 
            </div> 
            <div class="boxa" style="background: #5A758C;">
                <h5 style="text-align:center;">PNG files</h5>
                <p>
                    ...

                    ...:
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section3" href="#" target="_blank">Button</a>
                </div> 
            </div>               
        </div> 

    </section> 

    <!-- Section 4 -->
    <section class="section_4" id="section4">
        
        <div class="container" style="display:block;">
            <h1>Section 4</h1>
            <p>
                The links to ....
            </p>
            <div class="section_container_buttons_chapters">
                <a class="btn-section4" href="#" target="_blank">YouTube (Header)</a>
                <a class="btn-section4" href="#" target="_blank">YouTube (Developers)</a>
            </div>
        </div> 

        <div class="container">
            <div class="boxa" style="background: #546E75;">
                <h5 style="text-align:center;">SVG files</h5>
                <p>
                    ....
                    ....
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section4_box" href="https://www.adobe.com/creativecloud/file-types/image/vector/svg-file.html" target="_blank">SVG files</a>
                </div> 
            </div> 
            <div class="boxa">
                <h5 style="text-align:center;">PNG files</h5>
                <p>
                    ...

                    ...:
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section4_box" href="#" target="_blank">Button</a>
                </div> 
            </div>               
        </div>

        <div class="container">
            <div class="boxa" style="background: #546E75;">
                <h5 style="text-align:center;">SVG files</h5>
                <p>
                    ....
                    ....
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section4_box" href="https://www.adobe.com/creativecloud/file-types/image/vector/svg-file.html" target="_blank">SVG files</a>
                </div> 
            </div> 
            <div class="boxa" style="background: #96AEAF;">
                <h5 style="text-align:center;">PNG files</h5>
                <p>
                    ...

                    ...:
                </p>
                <div class="section_container_buttons_chapters">
                    <a class="btn-section4" href="#" target="_blank">Button</a>
                </div> 
            </div>               
        </div> 

    </section>

    <section class="section_4">
        <div class="container">
            <div class="box_questions_two">
                      
            </div>
            <div class="box_questions_two">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>            
                <div class="container_buttons_links_questions">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 4, Q1</a>
                    </div>
                </div>        
            </div>
            <div class="box_questions_two">
                <p style="text-align: center;"><strong>...</strong> </p>
                <p style="text-align: left;">...</p>   
                <div class="container_buttons_links_questions">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Section 4, Q2</a>
                    </div>
                </div> 
            </div>
            <div class="box_questions_two">
                      
            </div>
        </div>
    </section> 


{% endblock content %}