/* Rainy theme 5 -Green Digitalization Course-:

 */

 /*Container buttons section chapters*/
.section_container_buttons_chapters {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap:wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}
/*End container buttons section chapters*/

/*Header: rt5-3: #2a4359*/
.header_css {
  background-color: #3789A6;
  color: #fff;
  min-height: 200px;
}

.header_css img {
  max-width: 400px;
  padding: 15px 20px;
}

.header_css .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*End header*/

/*Container buttons section header*/
.container_buttons_links_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_header a:hover {
  color: #3789A6;
}
/*End container buttons section header*/

/* section_1:  rt5-2: #6DA6A6 */
.section_1 {  
  margin: 0 auto;
  padding: 30px 30px;
  background: #6DA6A6;
  }
.section_1 .container {
  max-width: 1320px;
  display: flex;
  background:  #6DA6A6;
  flex-direction: row;
  }
.section_1 .container .box {
  flex: 1;
  background: #6DA6A6;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_1 .container .box:nth-of-type(1) {
  background: #96C6D9; /* rt5-5: #96C6D9  */ 
  flex-grow: 1;
  text-align: left;
}  
.section_1 .container .box:nth-of-type(2) {
  background: #6DA6A6;
  flex-grow: 2;
  padding: 15px 20px;
} 
.section_1 .container .boxa {
  flex: 1;
  background: #6DA6A6;
  color: black;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_1 .container .boxa:nth-of-type(1) {
  background: #6DA6A6; /* rt5-5: #96C6D9  */ 
  flex-grow: 1;
  text-align: left;
}  
.section_1 .container .boxa:nth-of-type(2) {
  background: #96C6D9;
  flex-grow: 1;
  padding: 15px 20px;
  text-align:left;
} 
.section_1 .container .box_one {
  flex: 1;
  background: #6DA6A6;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_1 .container .box_one:nth-of-type(1) {
  background: #6DA6A6; 
  flex-grow: 1;
  text-align: left;
}  
.section_1 .container .box_one:nth-of-type(2) {
  background: #96C6D9;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_1 .container .box_one:nth-of-type(3) {
  background: #6DA6A6;
  flex-grow: 1;
  padding: 15px 20px;
}
.section_1 .container .box_questions_one {
  flex: 1;
  background: #6DA6A6;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_1 .container .box_questions_one:nth-of-type(1) {
  background: #6DA6A6; 
  flex-grow: 4;
  text-align: left;
}  
.section_1 .container .box_questions_one:nth-of-type(2) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_1 .container .box_questions_one:nth-of-type(3) {
  background: #6DA6A6;
  flex-grow: 4;
  padding: 15px 20px;
} 
.section_1 .container .box_questions_two {
  flex: 1;
  background: #6DA6A6;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_1 .container .box_questions_two:nth-of-type(1) {
  background: #6DA6A6; 
  flex-grow: 1;
  text-align: left;
}  
.section_1 .container .box_questions_two:nth-of-type(2) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_1 .container .box_questions_two:nth-of-type(3) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_1 .container .box_questions_two:nth-of-type(4) {
  background: #6DA6A6;
  flex-grow: 1;
  padding: 15px 20px;
}
/* End section_1 */
/*Container buttons section section_1a*/
.container_buttons_links_section_1a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_section_1a a:hover {
  color: #96C6D9; 
}
/*End container buttons section section_1a*/
/*Container buttons section section_1b*/
.container_buttons_links_section_1b {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_section_1b a:hover {
  color: #6DA6A6;
}
/*End container buttons section section_1b*/
/*Container buttons questions*/
.container_buttons_links_questions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_questions a:hover {
  color: #f2b84b;
}
/*End container questions*/
/* btn-section1 */
.btn-section1 {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  background-color: #6DA6A6;
  border: 2px solid #96C6D9;
}
.btn-section1:hover {
  color: #fff;
  background-color: #96C6D9;
  border: 2px solid #96C6D9;
}
/* End btn-section1 */
/* btn-section1_box */
.btn-section1_box {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  background-color: #96C6D9;
  border: 2px solid #6DA6A6;
}
.btn-section1_box:hover {
  color: #fff;
  background-color: #6DA6A6;
  border: 2px solid #6DA6A6;
}
/* End btn-section1_box */ 

/* section_2:  rt5-1: #c5c8d9 */
.section_2 {
  margin: 0 auto;
  padding: 30px 30px;
  background: #c5c8d9;
  }
.section_2 .container {
  max-width: 1320px;
  display: flex;
  background:  #c5c8d9;
  flex-direction: row;
  }
.section_2 .container .box {
  flex: 1;
  background: #c5c8d9;
  color: #000000;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_2 .container .box:nth-of-type(1) {
  background: #c5c8d9;
  flex-grow: 10;
  padding: 15px 20px;
}
.section_2 .container .box:nth-of-type(2) {
  background: #49736f; /* rt5-4: #49736f */
  flex-grow: 2;
  text-align: left;
}  
.section_2 .container .boxa {
  flex: 1;
  background: #c5c8d9;
  color: black;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_2 .container .boxa:nth-of-type(1) {
  background: #c5c8d9; /* rt5-5: #96C6D9  */ 
  flex-grow: 1;
  text-align: left;
}  
.section_2 .container .boxa:nth-of-type(2) {
  background: #49736f;
  flex-grow: 1;
  padding: 15px 20px;
  text-align:left;
} 
.section_2 .container .box_questions_one {
  flex: 1;
  background: #c5c8d9;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_2 .container .box_questions_one:nth-of-type(1) {
  background: #c5c8d9; 
  flex-grow: 4;
  text-align: left;
}  
.section_2 .container .box_questions_one:nth-of-type(2) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_2 .container .box_questions_one:nth-of-type(3) {
  background: #c5c8d9;
  flex-grow: 4;
  padding: 15px 20px;
} 
.section_2 .container .box_questions_two {
  flex: 1;
  background: #c5c8d9;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_2 .container .box_questions_two:nth-of-type(1) {
  background: #c5c8d9; 
  flex-grow: 1;
  text-align: left;
}  
.section_2 .container .box_questions_two:nth-of-type(2) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_2 .container .box_questions_two:nth-of-type(3) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_2 .container .box_questions_two:nth-of-type(4) {
  background: #c5c8d9;
  flex-grow: 1;
  padding: 15px 20px;
} 
.section_2 .container .box_table {
  flex: 1;
  background: #c5c8d9;
  color: black;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_2 .container .box_table:nth-of-type(1) {
  background: #c5c8d9; 
  flex-grow: 1;
  text-align: left;
}  
.section_2 .container .box_table:nth-of-type(2) {
  background: #fff;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_2 .container .box_table:nth-of-type(3) {
  background: #c5c8d9;
  flex-grow: 1;
  padding: 15px 20px;
} 
/* End section_2 */
/*Container buttons section section_2a*/
.container_buttons_links_section_2a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_section_2a a:hover {
  color: #49736f;
}
/*End container buttons section section_2a*/
/*Container buttons section section_2b*/
.container_buttons_links_section_2b {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_section_2b a:hover {
  color:  #c5c8d9;
}
/*End container buttons section section_2b*/
/* btn-section2 */
.btn-section2 {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  background-color: #c5c8d9;
  border: 2px solid #49736f;
}
.btn-section2:hover {
  color: #fff;
  background-color: #49736f;
  border: 2px solid #49736f;
}
/* End btn-section2 */

/* btn-section2_box */
.btn-section2_box {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  background-color: #49736f;
  border: 2px solid #c5c8d9;
}
.btn-section2_box:hover {
  color: #fff;
  background-color: #c5c8d9;
  border: 2px solid #c5c8d9;
}
/* End btn-section2_box */

/* section_3:  rt4-3: #5A758C */
.section_3 {
  margin: 0 auto;
  padding: 30px 30px;
  background: #5A758C;
  }
.section_3 .container {
  max-width: 1320px;
  display: flex;
  background:  #5A758C;
  flex-direction: row;
  }
.section_3 .container .box {
  flex: 1;
  background: #5A758C;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_3 .container .box:nth-of-type(1) {
  background: #789091; /* rt1-2: #789091 */
  flex-grow: 1;
  text-align: left;
}  
.section_3 .container .box:nth-of-type(2) {
  background: #5A758C;
  flex-grow: 2;
  padding: 15px 20px;
} 
.section_3 .container .onebox {
  flex: 1;
  background: #5A758C;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_3 .container .onebox:nth-of-type(1) {
  background: #5A758C; /* rt1-2: #789091 */
  flex-grow: 1;
  text-align: left;
}  
.section_3 .container .onebox:nth-of-type(2) {
  background: #789091;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_3 .container .onebox:nth-of-type(3) {
  background: #5A758C; /* rt1-2: #789091 */
  flex-grow: 1;
  text-align: left;
}
.section_3 .container .boxa {
  flex: 1;
  background: #c5c8d9;
  color: black;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_3 .container .boxa:nth-of-type(1) {
  background: #5A758C; 
  flex-grow: 1;
  text-align: left;
}  
.section_3 .container .boxa:nth-of-type(2) {
  background: #789091;
  flex-grow: 1;
  padding: 15px 20px;
  text-align:left;
} 
.section_3 .container .box_questions_one {
  flex: 1;
  background: #5A758C;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_3 .container .box_questions_one:nth-of-type(1) {
  background: #5A758C; 
  flex-grow: 4;
  text-align: left;
}  
.section_3 .container .box_questions_one:nth-of-type(2) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_3 .container .box_questions_one:nth-of-type(3) {
  background: #5A758C;
  flex-grow: 4;
  padding: 15px 20px;
} 
.section_3 .container .box_questions_two {
  flex: 1;
  background: #5A758C;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_3 .container .box_questions_two:nth-of-type(1) {
  background: #5A758C; 
  flex-grow: 1;
  text-align: left;
}  
.section_3 .container .box_questions_two:nth-of-type(2) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_3 .container .box_questions_two:nth-of-type(3) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
}
.section_3 .container .box_questions_two:nth-of-type(4) {
  background: #5A758C; 
  flex-grow: 1;
  text-align: left;
}   
/* End section_3 */
/*Container buttons section section_3a*/
.container_buttons_links_section_3a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_section_3a a:hover {
  color: #789091; 
}
/*End container buttons section section_3a*/
/*Container buttons section section_3b*/
.container_buttons_links_section_3b {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_section_3b a:hover {
  color: #5A758C;
}
/*End container buttons section section_3b*/
/* btn-section3 */
.btn-section3 {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  background-color: #5A758C;
  border: 2px solid #789091;
}
.btn-section3:hover {
  color: #fff;
  background-color: #789091;
  border: 2px solid #789091;
}
/* End btn-section3 */
/* btn-section3_box */
.btn-section3_box {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  background-color: #789091;
  border: 2px solid #5A758C;
}
.btn-section3_box:hover {
  color: #fff;
  background-color: #5A758C;
  border: 2px solid #5A758C;
}
/* End btn-section3_box */

/* section_4:  rt4-3: #96AEAF */
.section_4 {
  margin: 0 auto;
  padding: 30px 30px;
  background: #96AEAF;
  }
.section_4 .container {
  max-width: 1320px;
  display: flex;
  background:  #96AEAF;
  flex-direction: row;
  }
.section_4 .container .box {
  flex: 1;
  background: #96AEAF;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_4 .container .box:nth-of-type(1) {
  background: #546E75; /* rt1-2: #546E75 */
  flex-grow: 1;
  text-align: left;
}  
.section_4 .container .box:nth-of-type(2) {
  background: #96AEAF;
  flex-grow: 2;
  padding: 15px 20px;
} 
.section_4 .container .onebox {
  flex: 1;
  background: #96AEAF;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_4 .container .onebox:nth-of-type(1) {
  background: #96AEAF; /* rt1-2: #546E75 */
  flex-grow: 1;
  text-align: left;
}  
.section_4 .container .onebox:nth-of-type(2) {
  background: #546E75;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_4 .container .onebox:nth-of-type(3) {
  background: #96AEAF; /* rt1-2: #546E75 */
  flex-grow: 1;
  text-align: left;
}
.section_4 .container .boxa {
  flex: 1;
  background: #c5c8d9;
  color: black;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_4 .container .boxa:nth-of-type(1) {
  background: #96AEAF; 
  flex-grow: 1;
  text-align: left;
}  
.section_4 .container .boxa:nth-of-type(2) {
  background: #546E75;
  flex-grow: 1;
  padding: 15px 20px;
  text-align:left;
} 
.section_4 .container .box_questions_one {
  flex: 1;
  background: #96AEAF;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_4 .container .box_questions_one:nth-of-type(1) {
  background: #96AEAF; 
  flex-grow: 4;
  text-align: left;
}  
.section_4 .container .box_questions_one:nth-of-type(2) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_4 .container .box_questions_one:nth-of-type(3) {
  background: #96AEAF;
  flex-grow: 4;
  padding: 15px 20px;
} 
.section_4 .container .box_questions_two {
  flex: 1;
  background: #96AEAF;
  color: #fff;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
}  
.section_4 .container .box_questions_two:nth-of-type(1) {
  background: #96AEAF; 
  flex-grow: 1;
  text-align: left;
}  
.section_4 .container .box_questions_two:nth-of-type(2) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
} 
.section_4 .container .box_questions_two:nth-of-type(3) {
  background: #f2b84b;
  flex-grow: 6;
  padding: 15px 20px;
}
.section_4 .container .box_questions_two:nth-of-type(4) {
  background: #96AEAF; 
  flex-grow: 1;
  text-align: left;
}   
/* End section_4 */
/*Container buttons section section_4a*/
.container_buttons_links_section_4a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_section_4a a:hover {
  color: #546E75; 
}
/*End container buttons section section_4a*/
/*Container buttons section section_4b*/
.container_buttons_links_section_4b {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_section_4b a:hover {
  color: #96AEAF;
}
/*End container buttons section section_4b*/
/* btn-section4 */
.btn-section4 {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  background-color: #96AEAF;
  border: 2px solid #546E75;
}
.btn-section4:hover {
  color: #fff;
  background-color: #546E75;
  border: 2px solid #546E75;
}
/* End btn-section4 */
/* btn-section4_box */
.btn-section4_box {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  background-color: #546E75;
  border: 2px solid #96AEAF;
}
.btn-section4_box:hover {
  color: #fff;
  background-color: #96AEAF;
  border: 2px solid #96AEAF;
}
/* End btn-section4_box */


@media (max-width:768px) {  
  .section_container_buttons_chapters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_1 .container .boxa:nth-of-type(2) {
    max-width: 300px;
  } 
  .section_2 .container .box:nth-of-type(2) {
    max-width: 300px;
  } 
  .section_2 .container .boxa:nth-of-type(2) {
    max-width: 300px;
  } 
  .section_3 .container .boxa:nth-of-type(2) {
    max-width: 300px;
  }    
  .header_css .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }
  .section_1 .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  } 
  .section_2 .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .section_3 .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  } 
  .section_4 .container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  } 
  #instructionsModalInstructions1 {
    max-width:325px;
  }
}
