{% extends "gd_course/HVL_2024_group1/layout.html" %} {% block content %}

<!-- Header -->
<section class="section_header_carbon_app">
  <div class="container">
    <div class="header_carbon_app">
      <div class="box">
        <h1 style="font-size: 55px">
          <span class="text-logo"> Carbon App Calculator</span>
        </h1>
        <p style="text-align: left">
          Welcome to our Carbon App Calculator. To commence, click the ‘New
          Entry’ button and input your travel history. Our application will
          furnish both a visual and quantitative breakdown of your
          travel-related emissions. Users have the capability to filter entries
          based on date and can opt to view either their own entries exclusively
          or all entries associated with their organization. To exclude a
          specific mode of transport, users can conveniently select the
          corresponding option adjacent to the pie charts. In the event that an
          entry needs removal, users can scroll down to the table located at the
          bottom of the page and click the ‘Delete’ button next to the entry
          they wish to eliminate. Furthermore, the table provides additional
          filtering options, such as sorting by date, total kilometers traveled,
          or transport mode. Additionally, a search bar facilitates the
          retrieval of specific entries.
        </p>
        <div class="container_buttons_links_header_carbon_app">
          <div class="btn"></div>
          <div class="btn">
            <a
              href="#"
              class="btn btn-primary btn-lg mr-2"
              ,
              style="background-color: #35628f"
              ,
              data-toggle="modal"
              data-target="#carbon_app_instructions"
              >Instructions</a
            >
          </div>
          <div class="btn">
            <a
              href="{{url_for('gd_course_HVL_2024_group1.new_entry')}}"
              class="btn btn-primary btn-lg mr-2"
              ,
              style="background-color: #35628f"
              >New entry</a
            >
          </div>
          <div class="btn">
            <a
              href="{{url_for('gd_course_HVL_2024_group1.your_data')}}"
              class="btn btn-primary btn-lg mr-2"
              ,
              style="background-color: #35628f"
              >Your data</a
            >
          </div>
        </div>
        <!-- Modal Instructions -->
        <div
          class="modal fade"
          id="carbon_app_instructions"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5
                  class="modal-title"
                  ,
                  style="color: black; text-align: center"
                >
                  Carbon App, instructions
                </h5>
              </div>

              <div class="modal-body" , style="color: black">
                <p style="text-align: left">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Repudiandae ratione tempore id esse nobis molestias quasi
                  explicabo possimus ea reprehenderit.
                </p>
                <ol style="text-align: left">
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Sequi, sint.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Sequi, sint.
                  </li>
                </ol>
              </div>

              <div class="modal-footer">
                <a
                  href="{{url_for('gd_course_HVL_2024_group1.new_entry')}}"
                  class="btn btn-primary btn-lg mr-2"
                  ,
                  style="background-color: #007bff"
                  >New entry</a
                >
                <button
                  class="btn btn-secondary btn-lg mr-2"
                  ,
                  style="background-color: #6c757d"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <img
          src="{{url_for('static', filename='/gd_course_HVL_2024_group1/icons/calculator.svg')}}"
          width="325"
          height="325"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

{% endblock content %}
