        <!-- Section 4 -->
        <section class="section_4" id="section4">
            <div class="container" style="display:block;">
                <h1>h1...</h1>
                <h2>h2....</h2>
                <p>
                    Paragraph
                    <div class="section_container_buttons_chapters">
                        <a class="btn-section4" href="https://www.python.org/doc/essays/blurb/" target="_blank">Button Section 4</a>
                    </div> 
                </p>
            </div> 
    
            <div class="container">
    
                <div class="boxa">
                    <p style="text-align: center;"><strong>Paragraph ...</strong> </p>
                    <p style="text-align: left;">Paragraph ...</p>            
                    <div class="section_container_buttons_chapters">
                        <a class="btn-section4" href="https://www.python.org/doc/essays/blurb/" target="_blank">Python</a>
                    </div>        
                </div>
                <div class="boxa">
                    <p style="text-align: center;"><strong>Paragraph ...</strong> </p>
                    <p style="text-align: left;">Paragraph ...</p>   
                    <div class="section_container_buttons_chapters_box">
                        <a class="btn-section4_box" href="https://www.python.org/doc/essays/blurb/" target="_blank">Python</a>
                    </div> 
                </div>
    
            </div> 
            
            <div class="container">
    
                <div class="box_three">
                    ...       
                </div>
                <div class="box_three">
                    <div class="h1 mb-3" style="text-align: center;">
                        <i class="bi bi-calendar"></i>
                    </div>
                    <h1>Weekly challenge</h1>
                    <p style="text-align: left;">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, consequuntur?
                    </p>  
                    <div class="container_buttons_links_section_4a">
                        <div class="btn">
                            <a href="#" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">GitHub</a>
                        </div>
                    </div>  
                </div>
                <div class="box_three">
                    ...       
                </div>
    
            </div>  
        </section>  
