{% extends "es_course/es_course_layout.html" %}
{% block content %}

    <!-- Header -->
    <section xmlns="http://www.w3.org/1999/html">
        <header class="header_css">
            <div class="container">
                <div>
                    <h1>Ch... Lorem ipsum dolor sit amet.</h1>
                    <p class="mb-1">
                        We install Python and Visual Studio Code. We learn to create virtual enviroments, and we create our first Flask app.
                    </p>
                    </br>

                    <div class="container_buttons_links_header">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">YouTube</a>
                    </div>
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">GitHub</a>
                    </div>
                    </div>  

                    <div class="list-group", style="padding: 15px 0px;">
                        <a href="#section1" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section 1</h5>
                        </div>
                        <p class="mb-1">
                            ...
                        </p>

                        </a>
                        <a href="#section2" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section 2</h5>
                        </div>
                        <p class="mb-1">
                            ...
                        </p>
                        </a>
                        <a href="#section3" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section 3</h5>
                        </div>
                        <p class="mb-1">
                            ...
                        </p>
                        </a>
                        <a href="#section4" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Section 4</h5>
                        </div>
                        <p class="mb-1">
                            ...
                        </p>
                        </a>
                    </div>
                </div>
                <img
                src="{{url_for('static', filename='figures/green_digitalization_course/ch1/ch1_icon.svg')}}"
                        alt=""/>
            </div>
        </header>
    </section>

    <!-- Section 1 -->
    <section class="section_1" id="section1">
        <div class="container" style="display:block;">
            <h1>h1...</h1>
            <h2>h2....</h2>
            <p>
                Paragraph
                <div class="section_container_buttons_chapters">
                    <a class="btn-section1" href="https://www.python.org/doc/essays/blurb/" target="_blank">Button section 1</a>
                </div> 
            </p>
        </div> 

        <div class="container">

            <div class="boxa">
                <p style="text-align: center;"><strong>Paragraph ...</strong> </p>
                <p style="text-align: left;">Paragraph ...</p>            
                <div class="section_container_buttons_chapters">
                    <a class="btn-section1" href="https://www.python.org/doc/essays/blurb/" target="_blank">Python</a>
                </div>        
            </div>
            <div class="boxa">
                <p style="text-align: center;"><strong>Paragraph ...</strong> </p>
                <p style="text-align: left;">Paragraph ...</p>   
                <div class="section_container_buttons_chapters_box">
                    <a class="btn-section1_box" href="https://www.python.org/doc/essays/blurb/" target="_blank">Python</a>
                </div> 
            </div>

        </div> 
        
        <div class="container">

            <div class="box_three">
                ...       
            </div>
            <div class="box_three">
                <div class="h1 mb-3" style="text-align: center;">
                    <i class="bi bi-calendar"></i>
                </div>
                <h1>Weekly challenge</h1>
                <p style="text-align: left;">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, consequuntur?
                </p>  
                <div class="container_buttons_links_section_1a">
                    <div class="btn">
                        <a href="#" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">GitHub</a>
                    </div>
                </div>  
            </div>
            <div class="box_three">
                ...       
            </div>

        </div>  
    </section>  


        <!-- Section 2 -->
        <section class="section_2" id="section2">
            <div class="container" style="display:block;">
                <h1>h1...</h1>
                <h2>h2....</h2>
                <p>
                    Paragraph
                    <div class="section_container_buttons_chapters">
                        <a class="btn-section2" href="https://www.python.org/doc/essays/blurb/" target="_blank">Button Section 2</a>
                    </div> 
                </p>
            </div> 
    
            <div class="container">
    
                <div class="boxa">
                    <p style="text-align: center;"><strong>Paragraph ...</strong> </p>
                    <p style="text-align: left;">Paragraph ...</p>            
                    <div class="section_container_buttons_chapters">
                        <a class="btn-section2" href="https://www.python.org/doc/essays/blurb/" target="_blank">Python</a>
                    </div>        
                </div>
                <div class="boxa">
                    <p style="text-align: center;"><strong>Paragraph ...</strong> </p>
                    <p style="text-align: left;">Paragraph ...</p>   
                    <div class="section_container_buttons_chapters_box">
                        <a class="btn-section2_box" href="https://www.python.org/doc/essays/blurb/" target="_blank">Python</a>
                    </div> 
                </div>
    
            </div> 
            
            <div class="container">
    
                <div class="box_three">
                    ...       
                </div>
                <div class="box_three">
                    <div class="h1 mb-3" style="text-align: center;">
                        <i class="bi bi-calendar"></i>
                    </div>
                    <h1>Weekly challenge</h1>
                    <p style="text-align: left;">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, consequuntur?
                    </p>  
                    <div class="container_buttons_links_section_2a">
                        <div class="btn">
                            <a href="#" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">GitHub</a>
                        </div>
                    </div>  
                </div>
                <div class="box_three">
                    ...       
                </div>
    
            </div>  
        </section>  


            <!-- Section 3 -->
            <section class="section_3" id="section3">
                <div class="container" style="display:block;">
                    <h1>h1...</h1>
                    <h2>h2....</h2>
                    <p>
                        Paragraph
                        <div class="section_container_buttons_chapters">
                            <a class="btn-section3" href="https://www.python.org/doc/essays/blurb/" target="_blank">Button Section 3</a>
                        </div> 
                    </p>
                </div> 
        
                <div class="container">
        
                    <div class="boxa">
                        <p style="text-align: center;"><strong>Paragraph ...</strong> </p>
                        <p style="text-align: left;">Paragraph ...</p>            
                        <div class="section_container_buttons_chapters">
                            <a class="btn-section3" href="https://www.python.org/doc/essays/blurb/" target="_blank">Python</a>
                        </div>        
                    </div>
                    <div class="boxa">
                        <p style="text-align: center;"><strong>Paragraph ...</strong> </p>
                        <p style="text-align: left;">Paragraph ...</p>   
                        <div class="section_container_buttons_chapters_box">
                            <a class="btn-section3_box" href="https://www.python.org/doc/essays/blurb/" target="_blank">Python</a>
                        </div> 
                    </div>
        
                </div> 
                
                <div class="container">
        
                    <div class="box_three">
                        ...       
                    </div>
                    <div class="box_three">
                        <div class="h1 mb-3" style="text-align: center;">
                            <i class="bi bi-calendar"></i>
                        </div>
                        <h1>Weekly challenge</h1>
                        <p style="text-align: left;">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, consequuntur?
                        </p>  
                        <div class="container_buttons_links_section_3a">
                            <div class="btn">
                                <a href="#" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">GitHub</a>
                            </div>
                        </div>  
                    </div>
                    <div class="box_three">
                        ...       
                    </div>
        
                </div>  
            </section>  



            <!-- Section 4 -->
            <section class="section_4" id="section4">
                <div class="container" style="display:block;">
                    <h1>h1...</h1>
                    <h2>h2....</h2>
                    <p>
                        Paragraph
                        <div class="section_container_buttons_chapters">
                            <a class="btn-section4" href="https://www.python.org/doc/essays/blurb/" target="_blank">Button Section 4</a>
                        </div> 
                    </p>
                </div> 
        
                <div class="container">
        
                    <div class="boxa">
                        <p style="text-align: center;"><strong>Paragraph ...</strong> </p>
                        <p style="text-align: left;">Paragraph ...</p>            
                        <div class="section_container_buttons_chapters">
                            <a class="btn-section4" href="https://www.python.org/doc/essays/blurb/" target="_blank">Python</a>
                        </div>        
                    </div>
                    <div class="boxa">
                        <p style="text-align: center;"><strong>Paragraph ...</strong> </p>
                        <p style="text-align: left;">Paragraph ...</p>   
                        <div class="section_container_buttons_chapters_box">
                            <a class="btn-section4_box" href="https://www.python.org/doc/essays/blurb/" target="_blank">Python</a>
                        </div> 
                    </div>
        
                </div> 
                
                <div class="container">
        
                    <div class="box_three">
                        ...       
                    </div>
                    <div class="box_three">
                        <div class="h1 mb-3" style="text-align: center;">
                            <i class="bi bi-calendar"></i>
                        </div>
                        <h1>Weekly challenge</h1>
                        <p style="text-align: left;">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, consequuntur?
                        </p>  
                        <div class="container_buttons_links_section_4a">
                            <div class="btn">
                                <a href="#" target="_blank" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">GitHub</a>
                            </div>
                        </div>  
                    </div>
                    <div class="box_three">
                        ...       
                    </div>
        
                </div>  
            </section>  


{% endblock content %}
