/* Colors */
/* Rainy theme 5 -Green Digitalization Course and Students Apps-:
Navbar (background): #8bbbd9
Navbar (a hover): #466fa6
Navbar (logo): #568c63
Navbar (a menu): #2a4359
*/

/* Google fonts Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* CSS utilities */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  line-height: 1.6;
}
.container {
  margin: auto;
  max-width: 1320px;
}
ul { 
  list-style: none;
  font-size: 400;
}
a {
  color: #333;
  text-decoration: none;
}
h1, h2 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  margin: 10px 0;
  font-size: 14px;
}
img {
  width: 100%;
}
/* Navbar  */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #c6c3c354;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.carbon_app_navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 70px;
  align-items: center;
  background-color: #c6c3c354;
  padding: 0px 0px;
}

.carbon_app_navbar a {
  margin-left: 125px;
  place-items: center;
}

.carbon_app_navbar ul li a {
  margin: 0px;
}

.container {
	width: 80%;
	margin: 0px auto;
}

header {
  background: #444;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  display: inline;
  margin-left: 70px;
  padding-top: 20px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: none;
  font-size: 17px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: #444;

  position: absolute;
  top: 10px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* Footer  */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
  align-items: center;
  padding: 0 0px;
}


/* Media query */
@media(max-width:768px){
  .carbon_app_navbar {
    display: flex;
    flex-direction: row;
    height: 250px;
  }
  .carbon_app_navbar ul {
    display: block;
    flex-direction: column;
  }

  .carbon_app_navbar ul li a {
    font-size: 15px;
    display: block;
    flex-direction: column;
    margin-left: 65px;
  }
  .carbon_app_navbar a {
    margin-left: 125px;
    display: block;
    flex-direction: column;
    align-items: center;
  }

}
