{% extends "gender_platform/gender_platform_layout.html" %}
{% block content %}

    <!-- Introduction -->
    <section class="home_section_css">
        <div class="container">
            <div class="header">
                    <div class="box">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div> 
                                {% endfor %}
                            {% endif %}
                        {% endwith %}               
                        <h1 class="text-center"><span class="text-warning"> Gender Studies </span> Platform</h1>
                        <p class="mb-1">
                            The Gender Studies platform aims to foster the collaboration between <strong>education</strong> and <strong>society</strong> to study the main <strong>challenges</strong> faced by women and infer <strong>policies</strong> to solve those problems.
                            </br>
                            </br>
                            To achieve that objective, the platform hosts different <strong>dashboards</strong> to access to the most salient databases that study gender. It also hosts the frontier <strong>research</strong> in that field giving the user the access to that knowledge in an interactive way. It also hosts the <strong>apps</strong> developed by the students and researchers that study gender in different courses at the university. It is also a window for those students to disseminate the research conducted in their <strong>thesis</strong>. Finally, it also hosts a <strong>chat</strong> where students, professors and institutions that study gender can share their initiatives in that field. 

                        </p>
                    </div>
                    <div class="box">
                            <div class="h1 mb-3">
                            <i class="bi bi-chat-square-dots"></i>
                            </div>
                            <h3 class="text-center"><span class="text-warning"> Chat: </span>
                            </h3>
                            {% for chat in chats.items %}
                            <article class="media content-section">
                            <img class="rounded-circle article-img" src="data:image/jpeg;base64,{{ func(chat.author.image_file) }}">
                            <div class="media-body">
                                <div class="article-metadata">
                                <a class="mr-2" href="{{ url_for('gender_platform_chats.user_chats', username=chat.author.username)}}">{{ chat.author.username }}</a>
                                <small class="text-muted">{{ chat.date_posted.strftime('%Y-%m-%d') }}</small>
                                </div>
                                <h2><a class="article-title" href="{{ url_for('gender_platform_chats.chat', chat_id=chat.id)}}">{{ chat.title }}</a></h2>
                                <p class="article-content">{{ chat.content }}</p>
                            </div>
                            </article>
                        {% endfor %}
                        {% for page_num in chats.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if page_num %}
                            {% if chats.page == page_num %}
                                <a class="btn btn-info mb-4" href="{{ url_for('gender_platform.gender_platform_home', page=page_num) }}">{{ page_num }}</a>
                            {% else %}
                                <a class="btn btn-outline-info mb-4" href="{{ url_for('gender_platform.gender_platform_home', page=page_num) }}">{{ page_num }}</a>
                            {% endif %}
                            {% else %}
                            ...
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section> 
   
    <!-- IWD_summary Section -->
    <section class="IWD_summary">
        <div class="container">
            <div class="box">
                <img class="IWD_2023_img"
                src="{{url_for('static', filename='figures/gender_platform/IWD_2023_poster.png')}}"                
                alt=""/>
                <div class="container_buttons_links_IWD_summary">
                    <div class="btn">
                        <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;" data-toggle="modal" data-target="#instructionsModalInstructions1">Program</a>
                    </div>
                    <!-- Modal Instructions1 -->
                    <div class="modal fade" id="instructionsModalInstructions1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                            <h5 class="modal-title", style="color:black">International Women’s Day - 2023 (Program)</h5>
                            </div>

                            <div class="modal-body", style="color:black">
                            <p>
                                <ol>
                                    <li>
                                        <strong>Cineforum.</strong> Movie: "Women are Heroes." <strong>Date:</strong> Tuesday, 07/03/2023 at 18:00. <strong>Place:</strong> HVL, Auditorium A. The movie will be streamed by using <a href="https://nhh.zoom.us/j/6343089435">Zoom </a>.
                                        
                                    </li>
                                    </br>
                                    <li>
                                        <strong>Debate</strong>. Topic: Women challenges at the university. <strong>Date:</strong> Wednesday, 08/03/2023 at 11:00. <strong>Place:</strong> HVL, Auditorium A; NHH, Auditorium A. The debate will be streamed by using <a href="https://nhh.zoom.us/j/6343089435">Zoom </a>.
                                    </li>
                                </ol>
                            </p>
                            </div>

                            <div class="modal-footer">
                            <a href="https://nhh.zoom.us/j/6343089435" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Conference and movie (Stream)</a>
                            <button class="btn btn-secondary btn-lg mr-2", style="background-color:#6c757d;" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <h2>International Women’s Day - 2023</h2>
                <p>
                    The international Women’s Day consists of two activities. The <strong>first activity</strong> consists of a cineforum where we watch a movie. The objective of that cinemforum is to introduce a cultural activity and to have the opportunity to know each other. We organize a snack before the movie. The idea is that each person brings some food to share with the others. The cineforum will be organized at HVL and will rotate every year among the institutions that organize the International Women’s Day. The <strong>second activity</strong>consists of a debate in which, we debate about the challenges faced by women in the university. We discuss about the problems faced by professors, students, administrative staff, and maintenance staff. The debate will take place at both institutions and we use "Forward" to coordinate the debate.
                </p>
            </div>
        </div>
    </section> 

    <!-- IWD_movie_debate Section -->
    <section class="IWD_movie_debate">
        <div class="container">
            <div class="box">
                <i class="fa-solid fa-video fa-2x"></i>
                <h2>Movie</h2>
                <p>In Women Are Heroes, JR introduces women who sometimes look death in the face, who go from laughter to tears, who are generous, have nothing and yet share, who have had a painful past and long to build a happy future. The project had various installations in Brazil, India, Cambodia, and in Africa—in Kenya, Sierra Leone, Liberia, and Sudan.
                <br> 
                <br>     
                The people in the neighborhoods such as Rio de Janeiro’s favelas and Kibera slums helped install and paste huge pictures giving local women a strong voice.
                <br> 
                <br>       
                The project also resulted in a <strong>feature documentary film</strong> that was an Official Selection at the Cannes Film festival.
                <br> 
                <br> 
                In the summer of 2014 JR revisited the project with a symbolic piece posted across 150 cargo ship containers.
                <br> 
                <br> 
                <br> 
                </p> 
                <div class="container_buttons_links_IWD_movie_debate">
                    <div class="btn">
                        <a href="https://www.youtube.com/watch?v=g6nTp2E4DsI" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Trailer</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <i class="fa-brands fa-stack-exchange fa-2x"></i>
                <h2>Debate</h2> 
                <p>
                    In the debate, we discuss about the main challenges faced by women at the university. We organize the debate in <strong>four blocks</strong>. In the first block, we talk about the main challenges faced by professors, researchers and PhD students. In the second block, we talk about the main challenges faced by bachelor and master students. In the third block, we discuss the challenges faced by the administrative staff. In the fourth block, we talk about the challenges faced by the maintenance staff.
                    <br> 
                    <br>
                    The <strong>questions</strong> in each block have been proposed by the persons that represent each block, i.e., the professors propose the questions relevant for them; the students the questions that relevant for them, and so on. During the debate, each block will be conducted by a couple of persons that represent each block. 
                    <br> 
                    <br>
                    The <strong>debate</strong> will take physically in each university, and it will be streamed to facilitate the participation. We will use the platform “Forward” to make the debate more effective.
                </p>
                <div class="container_buttons_links_IWD_movie_debate">
                    <div class="btn">
                        <a href="{{url_for('gender_platform_questionnaires.gender_platform_questionnaire_home')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Debate</a>
                    </div>
                </div>
            </div>
        </div>
    </section> 

{% endblock content %}
